<%= bootstrap_form_with model: @clinic, local: true do |f| %>
  <div class="row">
    <div class="info-form-left col">
      <%= f.text_field :name, autocomplete: 'off' %>
      <%= f.text_field :street_address, autocomplete: 'off' %>
      <%= f.text_field :city, autocomplete: 'off' %>
      <%= f.select :state, options_for_select(state_options(clinic.state), clinic.state), autocomplete: 'off' %>
      <%= f.text_field :zip, autocomplete: 'off', help: t('clinics.form.zip_help') %>
      <%= f.text_field :phone,
                       autocomplete: 'off',
                       pattern: "[0-9]{10}|[0-9]{3}\.[0-9]{3}\.[0-9]{4}|[0-9]{3}[-][0-9]{3}[-][0-9]{4}" %>
      <%= f.text_field :fax,
                       autocomplete: 'off',
                       pattern: "[0-9]{10}|[0-9]{3}\.[0-9]{3}\.[0-9]{4}|[0-9]{3}[-][0-9]{3}[-][0-9]{4}" %>
      <%= f.text_field :email_for_pledges,
                       autocomplete: 'off',
                       help: t('clinics.form.email_help') %>
      <%= f.check_box :accepts_naf,
                       autocomplete: 'off',
                       label: t('activerecord.attributes.clinic.accepts_naf') %>
      <%= f.check_box :accepts_medicaid,
                       autocomplete: 'off',
                       label: t('activerecord.attributes.clinic.accepts_medicaid') %>
      <%= f.check_box :active,
                       autocomplete: 'off',
                       label: t('clinics.form.active_help') %>
    </div>

    <div class="info-form-right col">
      <%= f.number_field :gestational_limit, autocomplete: 'off' %>
      <% (5..30).each do |week| %>
        <%= f.number_field "costs_#{week}wks".to_sym,
                           autocomplete: 'off',
                           label: t('clinics.form.costs_weeks',
                           week: week) %>
      <% end %>
    </div>
  </div>

  <%= f.submit label, class: 'btn btn-primary btn-lg' %>
<% end %>
