<%= bootstrap_form_for @clinic do |f| %>
  <div class="col-sm-12">
    <div class="row">
      <div class="info-form-left col-sm-6">
        <%= f.text_field :name, autocomplete: 'off' %>
        <%= f.text_field :street_address, autocomplete: 'off' %>
        <%= f.text_field :city, autocomplete: 'off' %>
        <%= f.text_field :state, autocomplete: 'off' %>
        <%= f.text_field :zip, autocomplete: 'off' %>
        <%= f.text_field :phone, autocomplete: 'off', pattern: "[0-9]{10}|[0-9]{3}\.[0-9]{3}\.[0-9]{4}|[0-9]{3}[-][0-9]{3}[-][0-9]{4}" %>
        <%= f.text_field :fax, autocomplete: 'off', pattern: "[0-9]{10}|[0-9]{3}\.[0-9]{3}\.[0-9]{4}|[0-9]{3}[-][0-9]{3}[-][0-9]{4}" %>
        <%= f.check_box :accepts_naf, label: 'Accepts NAF', autocomplete: 'off' %>
        <%= f.check_box :accepts_medicaid, label: 'Accepts Medicaid', autocomplete: 'off' %>
        <%= f.check_box :active, autocomplete: 'off', label: 'Are we actively working with this clinic?' %>
      </div>
      <div class="info-form-right col-sm-6">
        <%= f.number_field :gestational_limit, autocomplete: 'off', label: 'Gestational limit (in days)' %>
        <% (5..30).each do |week| %>
          <%= f.number_field "costs_#{week}wks".to_sym, autocomplete: 'off' %>
        <% end %>
      </div>
    </div>
    <%= f.submit label, class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>
