<h1>Clinics</h1>
<p><%= link_to 'Add a new clinic', new_clinic_path %></p>

<% @clinics.each do |clinic| %>
  <div class="row">
    <div class="col-sm-12">
      <h3 class="clinic-name"><%= clinic.name %></h3>
      <span class="edit-clinic-details">
        <%= link_to 'Edit', edit_clinic_path(clinic) %>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p><%= clinic.street_address %>, <%= clinic.city %>, <%= clinic.state %> <%= clinic.zip %></p>
      <p><%= clinic.phone %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="collapse collapsible-clinic-details" id="<%= clinic.id %>">
        <div class="additional-clinic-details">
          <div class="accepts-naf clinic-detail-group">
            <label>Accepts NAF?</label>
            <p class="blush"><%= clinic.accepts_naf ? 'Yes' : 'No' %></p>
          </div>
          <div class="gestational-limit clinic-detail-group">
            <label>Gestational Limit</label>
            <p class="blush"><%= clinic.gestational_limit %></p>
          </div>
          <div class="clinic-costs clinic-detail-group">
            <label>Clinic Costs by Week</label>
            <table class="clinic-costs-table table">
              <thead>
                <th>05 </th>
                <th>06 </th>
                <th>07 </th>
                <th>08 </th>
                <th>09 </th>
                <th>10 </th>
                <th>11 </th>
                <th>12 </th>
                <th>13 </th>
                <th>14 </th>
                <th>15 </th>
                <th>16 </th>
                <th>17 </th>
                <th>18 </th>
                <th>19 </th>
                <th>20 </th>
                <th>21 </th>
                <th>22 </th>
                <th>23 </th>
                <th>24 </th>
                <th>25 </th>
                <th>26 </th>
                <th>27 </th>
                <th>28 </th>
                <th>29 </th>
                <th>30 </th>
              </thead>
              <tbody>
                <tr>
                  <td>$<span class="blush"><%= clinic.costs_05wks %></span></td>
                  <td>$<span class="blush"><%= clinic.costs_06wks %></span></td>
                  <td>$<span class="blush"><%= clinic.costs_07wks %></span></td>
                  <td>$<span class="blush"><%= clinic.costs_08wks %></span></td>
                  <td>$<span class="blush"><%= clinic.costs_09wks %></span></td>
                  <td>$<span class="blush"><%= clinic.costs_10wks %></span></td>
                  <td>$<span class="blush"><%= clinic.costs_11wks %></span></td>
                  <td>$<span class="blush"><%= clinic.costs_12wks %></span></td>
                  <td>$<span class="blush"><%= clinic.costs_13wks %></span></td>
                  <td>$<span class="blush"><%= clinic.costs_14wks %></span></td>
                  <td>$<span class="blush"><%= clinic.costs_15wks %></span></td>
                  <td>$<span class="blush"><%= clinic.costs_16wks %></span></td>
                  <td>$<span class="blush"><%= clinic.costs_17wks %></span></td>
                  <td>$<span class="blush"><%= clinic.costs_18wks %></span></td>
                  <td>$<span class="blush"><%= clinic.costs_19wks %></span></td>
                  <td>$<span class="blush"><%= clinic.costs_20wks %></span></td>
                  <td>$<span class="blush"><%= clinic.costs_21wks %></span></td>
                  <td>$<span class="blush"><%= clinic.costs_22wks %></span></td>
                  <td>$<span class="blush"><%= clinic.costs_23wks %></span></td>
                  <td>$<span class="blush"><%= clinic.costs_24wks %></span></td>
                  <td>$<span class="blush"><%= clinic.costs_25wks %></span></td>
                  <td>$<span class="blush"><%= clinic.costs_26wks %></span></td>
                  <td>$<span class="blush"><%= clinic.costs_27wks %></span></td>
                  <td>$<span class="blush"><%= clinic.costs_28wks %></span></td>
                  <td>$<span class="blush"><%= clinic.costs_29wks %></span></td>
                  <td>$<span class="blush"><%= clinic.costs_30wks %></span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <a role="button" class="clinic-detail-toggle" data-toggle="collapse" href="#<%= clinic.id %>" aria-expanded="false" aria-controls="<%= clinic.id %>">More details</a>
    </div>
  </div>
<% end %>
