<h1>Add a new clinic</h1>

<%= bootstrap_form_for @clinic do |f| %>
  <%= f.text_field :name, autocomplete: 'off' %>
  <%= f.text_field :address, autocomplete: 'off' %>
  <%= f.text_field :city, autocomplete: 'off' %>
  <%= f.text_field :state, autocomplete: 'off' %>
  <%= f.text_field :zip, autocomplete: 'off' %>
  <%= f.submit 'Add clinic' %>
<% end %>
