<div class="row">
  <div class="col lines-form">
    <h1 class="border-bottom title"><%= t 'lines.new.welcome_to_daria', fund: current_tenant.name %></h1>

    <%= bootstrap_form_with url: lines_path, local: true, class: 'line-select-form' do |f| %>
      <%= f.form_group :line, label: { text: t('lines.new.what_line') } do %>
        <% @lines.each do |line| %>
          <%= f.radio_button :line, line.id, label: line %>
        <% end %>
      <% end %>
      <%= f.submit t('lines.new.start'), class: 'btn-lg btn-primary' %>
    <% end %>
  </div>
</div>
