<div class="container">
  <div class="col-sm-12 lines-form">
    <h1 class="border-bottom title"><%= t 'lines.new.welcome_to_daria', fund: FUND %></h1>

    <%= bootstrap_form_tag url: lines_path, class: 'line-select-form' do |f| %>
      <%= f.form_group :line, label: { text: t('lines.new.what_line') } do %>
        <% lines.each do |line| %>
          <%= f.radio_button :line, line, label: line %>
        <% end %>
      <% end %>
      <%= f.submit t('lines.new.start'), class: 'btn-lg btn-primary' %>
    <% end %>

  </div>
</div>
