<div class="row">
  <div class="col">
    <%= bootstrap_form_with model: support,
        url: patient_practical_support_path(patient, support),
        html: { class: 'edit_practical_support col-12' },
        local: false do |f| %>
      <%= f.select :support_type, options_for_select(practical_support_options, support.support_type) %>
      <%= f.select :source,
                    options_for_select(practical_support_source_options(support.source),
                                      support.source) %>
      <%= f.number_field :amount,
                          value: number_to_currency(f.object.amount.to_f, unit: '', delimiter: ''),
                          autocomplete: 'off',
                          prepend: '$',
                          step: '0.01' %>
      <%= f.date_field :support_date, autocomplete: 'off' %>

      <% if Config.display_practical_support_attachment_url? %>
        <%= f.text_field :attachment_url,
                          autocomplete: 'off',
                          placeholder: t('activerecord.attributes.practical_support.attachment_url') %>
      <% end %>

      <%= f.form_group :confirmed do %>
        <%= f.check_box :confirmed,
                        id: "practical_support_confirmed_#{support.id}",
                        label_class: 'tooltip-header-checkbox',
                        data: { 'tooltip_text': practical_support_confirmed_help_text } %>
        <%= f.check_box :fulfilled,
                        id: "practical_support_fulfilled_#{support.id}",
                        label_class: 'tooltip-header-checkbox',
                        data: { 'tooltip_text': practical_support_fulfilled_help_text } %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= button_to t('patient.practical_support.remove'),
                  patient_practical_support_path(patient, support),
                  remote: true,
                  method: :delete,
                  data: { confirm: t('patient.practical_support.delete_confirm') },
                  class: "btn btn-danger float-right practical-support-remove mt-3" %>
  </div>
</div>