<div class="row info-form practical-support-item" id="practical-support-item-<%= practical_support.id %>">
  <%= bootstrap_form_with model: practical_support,
                         url: patient_practical_support_path(patient, practical_support),
                         html: { class: 'edit_practical_support col-10' },
                         local: false do |f| %>
    <div class="row">
      <div class="col-3">
        <span id="practical_support_support_type">
          <%= practical_support.support_type %>
        </span>
      </div>

      <div class="col-5">
        <%= f.select :source,
                     options_for_select(practical_support_source_options(practical_support.source),
                                        practical_support.source),
                     hide_label: true %>
      </div>

      <div class="col-4">
        <%= f.number_field :amount,
                           value: number_to_currency(f.object.amount.to_f, unit: '', delimiter: ''),
                           hide_label: true,
                           autocomplete: 'off',
                           prepend: '$',
                           step: '0.01' %>
      </div>

      <div class="col-2">
        <%= f.form_group :confirmed do %>
          <%= f.check_box :confirmed,
                          id: "practical_support_confirmed_#{practical_support.id}" %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="col">
    <%= button_to t('patient.practical_support.remove'),
                  patient_practical_support_path(patient, practical_support),
                  remote: true,
                  method: :delete,
                  data: { confirm: t('patient.practical_support.delete_confirm') },
                  class: "btn btn-danger" %>
  </div>
</div>
