<% if patient.practical_supports.present? %>
  <hr />
  <% patient.practical_supports.each do |entry| %>
    <div class="row info-form practical-support-item" id="practical-support-item-<%= entry.id %>">
      <div class="col-9">
        <%= entry.support_type %>
        from <%= entry.source || 'TBD' %>
        for $<%= entry.amount || 'TBD' %>
      </div>
      <div class="col-1">
        +
      </div>
      <div class="col-2">
        <%= link_to 'button!!!',
            edit_patient_practical_support_path(patient, entry),
            class: "edit_practical_support practical-support-#{entry.id}",
            remote: true %>

        Edit
      </div>
    </div>
  

    <hr />
  <% end %>
<% end %>




