<h4><%= t 'patient.practical_support.new' %></h4>

<%= bootstrap_form_with model: [patient, patient.practical_supports.new],
                        html: { id: 'new-practical-support' },
                        local: false do |f| %>
  <%= f.select :support_type, practical_support_options %>
  <%= f.select :source, practical_support_source_options %>
  <%= f.number_field :amount, autocomplete: 'off', prepend: '$', step: '0.01' %>
  <%= f.check_box :confirmed %>
  <br />
  <%= f.submit t('patient.practical_support.create'), class: 'btn btn-primary', id: 'create-practical-support' %>
<% end %>
