<h4><%= t 'patient.practical_support.new' %></h4>

<%= bootstrap_form_with model: [patient, patient.practical_supports.new],
                        html: { id: 'new-practical-support' },
                        local: false do |f| %>
  <%= f.select :support_type, practical_support_options %>
  <%= f.select :source, practical_support_source_options %>
  <%= f.number_field :amount, autocomplete: 'off', prepend: '$', step: '0.01' %>
  <%= f.date_field :support_date, autocomplete: 'off' %>

  <% if Config.display_practical_support_attachment_url? %>
    <%= f.text_field :attachment_url, autocomplete: 'off' %>
  <% end %>

  <%= f.check_box :confirmed, label_class: 'tooltip-header-checkbox', data: { 'tooltip_text': practical_support_confirmed_help_text } %>
  <%= f.check_box :fulfilled, label_class: 'tooltip-header-checkbox', data: { 'tooltip_text': practical_support_fulfilled_help_text } %>
  <br />
  <%= f.submit t('patient.practical_support.create'), class: 'btn btn-primary', id: 'create-practical-support' %>
<% end %>
