<div class="card">
  <div class="card-header">
    Two Factor Authentication
  </div>
  <div class="card-body">
    <% if current_user.auth_factors.none? {|f| f.enabled? } %>
      <%= button_to('Enable Two Factor Authentication', new_auth_factor_path, method: :get, class: 'btn btn-primary') %>
    <% else %>
      <%= button_to('Add New Authentication Factor', new_auth_factor_path, method: :get, class: 'btn btn-primary') %>
      <table class="table border-side">
        <thead>
          <tr>
            <th><!-- spacer --></th>
            <th><%= 'Name' %></th>
            <th><%= 'Channel' %></th>
            <th><%= 'Status' %></th>
            <th><!-- delete factor btn --></th>
          </tr>
        </thead>
        <tbody>
          <% if current_user.auth_factors.present? %>
            <% current_user.auth_factors.each do |factor| %>
              <% if factor.registration_complete? %>
                <tr id='factor-<%= factor.name %>'>
                  <td><!-- spacer --></td>
                  <td><%= factor.name %></td>
                  <td><%= factor.channel %></td>
                  <td><%= factor.enabled ? 'Enabled' : 'Disabled' %>
                  <td><%= button_to("Delete",
                                    auth_factor_path(factor),
                                    method: :delete,
                                    class: 'btn btn-warning') %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
