<div class="authform">
  <h2> <%= t('user.profile_edit.user_panel', email: current_user.email, name: current_user.name) %></h2>

  <%= bootstrap_form_for resource, as: resource_name, url: '/users', html: { method: :put } do |f| %>
    <%= render "devise/shared/error_messages" %>

    <%= f.text_field :email, disabled: true, readonly: true %>
    <%= f.text_field :role, disabled: true, readonly: true %>
    <%= f.text_field :name %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div><%= t('user.profile_edit.awaiting_confirmation', email: resource.unconfirmed_email) %></div>
    <% end %>

    <h3><%= t('user.profile_edit.change_password') %></h3>
    <%= f.password_field :password, label: t('user.profile_edit.new_password'), autocomplete: 'off' %>
    <%= f.password_field :password_confirmation, autocomplete: 'off' %>

    <h3><%= t('user.profile_edit.current_password') %></h3>
    <%= f.password_field :current_password, autocomplete: 'off' %>

    <%= f.submit t('user.profile_edit.update_info_button'), class: 'btn btn-primary' %>
  <% end %>
  <br>
  <%= link_to t('common.back'), :back %>
</div>
