<h3><%= title %></h3>
<table>
  <thead>
    <th>Name</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Accepts NAF</th>
  </thead>
  <tbody>
  <% clinics.each do |clinic| %>
    <tr>
      <td><%= clinic %></td>
      <td><%= clinic.street_address %></td>
      <td><%= clinic.city %></td>
      <td><%= clinic.state %></td>
      <td><%= clinic.zip %></td>
      <th><%= clinic.accepts_naf %></th>
    </tr>
  <% end %>
  </tbody>
</table>
