<div class='col-sm-12'>
  <h4 class='clinic-finder-expand'>
    Clinic Locator Assistant
    <small>This is an experimental feature.</small>
    <span class='glyphicon glyphicon-plus-sign pull-right'></span>
  </h4>


  <div class='col-sm-12 hide' id='clinic-finder-search-form'>
    <h5>
      Filter out clinics according to accepting NAF/NNAF and their gestation limits; sort by proximity to a ZIP code.
    </h5>

    <%= bootstrap_form_tag url: clinicfinder_search_path, remote: true do |f| %>
      <div class="row">
        <div class="col-sm-6 info-form-left">
          <%= f.text_field :zip, label: "Patient's ZIP code" %>
          <%= f.check_box :naf_only, label: 'Show only NAF clinics' %>
          <%= f.check_box :medicaid_only, label: 'Show only Medicaid clinics' %>
        </div>

        <div class="col-sm-3 info-form-right">
          <%= f.select :gestation_weeks,
                       options_for_select(weeks_options, patient.last_menstrual_period_now_weeks),
                       label: 'Gestation above',
                       autocomplete: 'off' %>
        </div>

        <div class="col-sm-3 info-form-right hide-label">
          <%= f.select :gestation_days,
                       options_for_select(days_options, patient.last_menstrual_period_now_days),
                       label: '.',
                       autocomplete: 'off' %>
        </div>
      </div>

      <div class="row">
        <div class='col-sm-6'>
          <%= f.submit "Search clinics", class: "btn btn-primary" %>
        </div>    
      </div>
    <% end %>
  </div>

  <div class='col-sm-12' id='clinic-finder-results'></div>
</div>
