<div class='col-sm-12'>
  <h5 class='clinic-finder-expand'>
    <%= t('clinic_locator.title') %>
    <span class='glyphicon glyphicon-plus-sign pull-right'></span>
  </h5>

  <div class='col-sm-12 hide' id='clinic-finder-search-form'>
    <h6><%= t('clinic_locator.description') %></h6>

    <%= bootstrap_form_tag url: clinicfinder_search_path, remote: true do |f| %>
      <div class="row">
        <div class="col-sm-6 info-form-left">
          <%= f.text_field :zip, label: t('clinic_locator.patient_zip_code') %>
          <%= f.check_box :naf_only, label: t('clinic_locator.naf_only_toggle') %>
          <%= f.check_box :medicaid_only, label: t('clinic_locator.medicaid_only_toggle') %>
        </div>

        <div class="col-sm-6 info-form-right">
          <%= t('clinic_locator.experimental_note') %>
          <%#= f.select :gestation, weeks_options, label: "Patient's approx. gestation at appt" %>
        </div>
      </div>

      <div class="row">
        <div class='col-sm-6'>
          <%= f.submit t('clinic_locator.search_button'), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class='col-sm-12' id='clinic-finder-results'></div>
</div>
