<div class="card clinic_finder_container">
  <div class="card-header">
    <h4 class="clinic-finder-expand patient-section-title">
      <%= t('clinic_locator.title') %>
      <small><%= t('clinic_locator.experimental_note') %></small>
      <span class='glyphicon glyphicon-plus-sign mr-auto'>glyph</span>
    </h4>
  </div>

  <div class="card-body hidden" id="clinic-finder-search-form">
    <h5><%= t('clinic_locator.description') %></h5>

    <%= bootstrap_form_with url: clinicfinder_search_path,
                            remote: true do |f| %>
      <%= f.hidden_field :locale, value: params[:locale] %>
      <div class="row">
        <div class="col info-form-left">
          <%= f.text_field :zip, label: t('clinic_locator.patient_zip_code') %>
          <%= f.check_box :naf_only, label: t('clinic_locator.naf_only_toggle') %>
          <%= f.check_box :medicaid_only, label: t('clinic_locator.medicaid_only_toggle') %>
        </div>

        <div class="col info-form-right">
          <div class="row">
            <div class="col">
              <%= f.select :gestation_weeks,
                           options_for_select(weeks_options, patient.last_menstrual_period_now_weeks),
                           label: t('clinic_locator.gestation_above'),
                           autocomplete: 'off' %>
            </div>
            <div class="col">
              <%= f.select :gestation_days,
                           options_for_select(days_options, patient.last_menstrual_period_now_days),
                           hide_label: true, 
                           autocomplete: 'off' %>
              <%= f.label :last_menstrual_period_days,
                          t('common.days_along'),
                          class: "sr-only" %>
            </div>
          </div>
        </div>
      </div>

      <%= f.submit t('clinic_locator.search_button'), class: "btn btn-primary" %>
    <% end %>

    <div class="row col" id="clinic-finder-results"></div>
  </div>
</div>
