<section id="abortion_section" class="abortion-info col-md-8 tab-pane active">
  <h2>Abortion Information</h2>

  <div class="info-form-left col-md-6">
    <%= f.fields_for :clinic, pregnancy.clinic do |cl| %>
      <h4>Clinic details</h4>
      <%= cl.text_field :name, label: 'Clinic name:' %>
      <%= cl.text_field :street_address_1, label: 'Street address 1:' %>
      <%= cl.text_field :street_address_2, label: 'Street address 2:' %>
      <%= cl.text_field :city, label: 'City:' %>
      <%= cl.text_field :state, label: 'State:' %>
      <%= cl.text_field :zip, label: 'Zip:' %>
    <% end %>
  </div>
  <div class="info-form-right col-md-6">
    <h4>Cost details</h4>
    <%= f.text_field :procedure_cost, label: 'Abortion Cost:' %>
    <p>
      funding sources
    </p>
  </div>
</section>
