<section id="call_log" class="call-info tab-pane">
	<div class="margin-bottom col-md-12">
		<h2>Call log</h2>
		<table class="table border-side">
		<tr>
			<th>Date</th>
			<th>Time</th>
			<th>Result</th>
			<th>CM</th>
		</tr>
<<<<<<< HEAD
		<tbody>`
			<td><%= pregnancy.initial_call_date %></td>
			<td><%= pregnancy.status %></td>
			<td><%= pregnancy.user %></td>
=======
		<div class="btn btn-primary" id="toggle-call-log">View all calls</div>
		<tbody>
			<% pregnancy.recent_calls.each do |call| %>
				<tr>
					<td><%= call.created_at.getlocal.strftime("%-m/%-d") %></td>
					<td><%= call.created_at.getlocal.strftime("%l:%M %P") %></td>
					<td><%= call.status %></td>
					<td><%= "user" %></td>
				</tr>
			<% end %>
			<% pregnancy.old_calls.each do |call| %>
				<tr class="old-calls hidden">
					<td><%= call.created_at.getlocal.strftime("%-m/%-d") %></td>
					<td><%= call.created_at.getlocal.strftime("%l:%M %P") %></td>
					<td><%= call.status %></td>
					<td><%= "user" %></td>
				</tr>
			<% end %>
>>>>>>> a8bd76373e09562c560e55c273a8f5af39014a4c
		</tbody>
            </table>
	</div>
</section>
