<section id="change_log" class="abortion-info tab-pane">
  <div class="col-sm-12">
    <h2>Patient history</h2>
    <table class="table border-side">
      <thead>
        <tr>
          <th>Modified Date</th>
          <th>Field</th>
          <th>Changed From</th>
          <th>Changed To</th>
          <th>CM</th>
        </tr>
      </thead>
      <tbody>
        <% pregnancy.patient.history_tracks.each do |revision| %>
          <tr>
            <td><%= revision.created_at.display_date %></td>
            <td><%= revision.tracked_changes_fields %></td>
            <td><%= revision.tracked_changes_from %></td>
            <td><%= revision.tracked_changes_to %></td>
            <td><%= updated_by_user(revision) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-sm-12">
    <h2>Pregnancy history</h2>
    <table class="table border-side">
      <thead>
        <tr>
          <th>Modified Date</th>
          <th>Field</th>
          <th>Changed From</th>
          <th>Changed To</th>
          <th>CM</th>
        </tr>
      </thead>
      <tbody>
        <% pregnancy.history_tracks.each do |revision| %>
          <tr>
            <td><%= revision.created_at.display_date %></td>
            <td><%= revision.tracked_changes_fields %></td>
            <td><%= revision.tracked_changes_from %></td>
            <td><%= revision.tracked_changes_to %></td>
            <td><%= updated_by_user(revision) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-sm-12">
    <h2>Clinic history</h2>
    <table class="table border-side">
      <thead>
        <tr>
          <th>Modified Date</th>
          <th>Field</th>
          <th>Changed From</th>
          <th>Changed To</th>
          <th>CM</th>
        </tr>
      </thead>
      <tbody>
        <% pregnancy.clinic.history_tracks.each do |revision| %>
          <tr>
            <td><%= revision.created_at.display_date %></td>
            <td><%= revision.tracked_changes_fields %></td>
            <td><%= revision.tracked_changes_from %></td>
            <td><%= revision.tracked_changes_to %></td>
            <td><%= updated_by_user(revision) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
