<section id="change_log" class="abortion-info tab-pane">
  <div class="col-md-12">
    <h1 class="border-bottom title">Patient History</h1>
    <table class="table border-side">
      <thead>
        <tr>
          <th>Modified Date</th>
          <th>Field</th>
          <th>Changed From</th>
          <th>Changed To</th>
          <th>CM</th>
        </tr>        
      </thead>
      <tbody>
        <tr>
          <td><%#= pregnancy.patient.created_at.getlocal.strftime("%Y-%m-%d") %>(Created At Timestamp)</td>
          <td></td>
          <td></td>
          <td>Patient Created</td>
          <td><%= 'user' %></td>
        </tr>
        <% pregnancy.patient.history_tracks.drop(1).each do |revision| # ugly :( %>
          <tr>
            <td><%= revision.updated_at.getlocal.strftime("%Y-%m-%d") %></td>
            <td>
              <% revision.modified.each_key do |k| %>
                <%= k %><br>
              <% end %>
            </td>
            <td>
              <% revision.original.each_value do |v| %>
                <%= v %><br>
              <% end %>
            </td>
            <td>
              <% revision.modified.each_value do |v| %>
                <%= v %><br>
              <% end %>
            </td>
            <td><%= 'user' %></td>        
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>  
</section>
