<h3><small>Your search produced no results, so add a new patient:</small></h3>
<%= bootstrap_form_for pregnancy do |f| %>

  <%= f.fields_for patient do |p| %>
    <div class="col-md-2">
      <%= p.text_field :primary_phone, label: "Phone Number" %>
    </div>
    <div class="col-md-2">
      <%= p.text_field :name, label: "First and Last Name" %>
    </div>
  <% end %>

  <div class="col-md-2">
    <%= f.text_field :last_menstrual_period_weeks, label: "LMP" %>
  </div>
   <div class="col-md-2 lmp-2">
    <%= f.text_field :last_menstrual_period_days, label: "." %>
  </div>
  <div class="col-md-2">
    <%= f.date_field :initial_call_date, label: "Initial Call Date" %>
  </div>

  <div class="col-md-2">
    <%= f.form_group :voicemail_ok, label: { text: 'Voicemail OK?' } do %>
    <%= f.check_box :voicemail_ok, label: 'Yes' %> <!-- TODO add bootstrap toggle -->
    <% end %>
  </div>

  <div class="col-md-2">
    <br>
    <%= button_tag class: 'btn btn-primary', id: 'create_new_patient_button' do %>
       <span class='glyphicon glyphicon-plus-sign'></span> Create new patient
    <% end %>
  </div>
<% end %>
