<section id="notes" class="notes tab-pane">
	<div class="margin-bottom col-md-12">
		<h2>Notes</h2>
    	<div class="info-form-left col-md-6">
			<%= bootstrap_form_for [pregnancy, note] do |f| %>
		    <%= f.text_area :full_text, size: '20x10', placeholder: 'Enter notes here', hide_label: true %>
		    <%= f.submit class: "btn btn-primary"  %>
		    <% end %>
    	</div>
	</div>

	<table class="table border-side">
		<tbody>
			<% pregnancy.notes.order('created_at DESC').each do |note| %>
			<tr>
				<th><%= note.created_at.getlocal.strftime("%-m/%-d") %></th>
				<th><%= note.created_at.getlocal.strftime("%l:%M %P") %></th>
				<th><%= note.created_by.name %></td>
			</tr>
			<tr>
				<td><%= note.full_text %></td>
			</tr>
			<% end %>
		<tbody>
	</table>
</section>
