<div class="col-md-4">
  <%= f.fields_for pregnancy.patient do |p| %>
    <%= p.text_field :name, label: 'Name' %>
    <%= p.text_field :primary_phone, label: 'Phone number' %>
  <% end %>
</div>
<div class="col-md-4">
  <div class="row">
    <div class="col-md-6">
      <%= f.select :last_menstrual_period_weeks, options_for_select(weeks_options, pregnancy.last_menstrual_period_weeks ), label: 'LMP on intake', help: 'Some shit' %>
      <!-- <p class="help-block">Example block-level help text here.</p>  -->
    </div>
    <div class="col-md-6">
      <%= f.select :last_menstrual_period_days, options_for_select(days_options, pregnancy.last_menstrual_period_weeks ), label: 'Days' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p><strong>Status:</strong> <%= pregnancy.status %></p>
    </div>
  </div>
</div>
<div class="col-md-4">
  <!-- case status should be c.select -->
  <%#= f.text_field :status, label: 'Status' %>
  <!-- Appointment Date (not in Case model) -->
  <%= f.datetime_picker :appointment_date, label: 'Appointment date', format: '%Y-%m-%d' %>

</div>
