<div class="col-md-4">
  <%= f.fields_for pregnancy.patient do |p| %>
    <%= p.text_field :name, label: 'Name' %>
    <%= p.text_field :primary_phone, label: 'Phone number' %>
  <% end %>
</div>
<div class="col-md-4">
  <div class="row">
    <div class="col-md-6">
      <%= f.select :last_menstrual_period_weeks, options_for_select(weeks_options, pregnancy.last_menstrual_period_weeks ), label: 'LMP: Weeks' %>    
    </div>
    <div class="col-md-6">
      <%= f.select :last_menstrual_period_days, options_for_select(days_options, pregnancy.last_menstrual_period_weeks ), label: 'Days' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form_group">
        <label for="pregnancy_last_menstrual_period_weeks_current" class="control-label">LMP at present time</label>
        <input type="text" value="<%#= pregnancy.last_menstrual_period_current %>" class="form-control" id="pregnancy_last_menstrual_period_weeks_current" readonly>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4">
  <!-- case status should be c.select -->
  <%= f.text_field :status, label: 'Status' %>
  <!-- Appointment Date (not in Case model) -->
  <%= f.datetime_picker :appointment_date, label: 'Appointment date', format: '%Y-%m-%d' %>
</div>
