<section id="patient_information" class="abortion-info tab-pane active">
  <%= bootstrap_form_for @pregnancy, html: { id: 'patient_information_form' }, remote: true do |f| %>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <h2>Patient information</h2>
        </div>
      </div>

      <div class="row">
        <div class="info-form-left col-sm-6">
          <%= f.text_field :age, label: 'Age', autocomplete: 'off' %>
          <%= f.select :race_ethnicity,
                       options_for_select(race_ethnicity_options,
                                          pregnancy.race_ethnicity),
                                          label: 'Race / Ethnicity',
                                          autocomplete: 'off' %>

          <%= f.form_group :spanish do %>
            <!-- <div class='bootstrap_toggle_spacing'> -->
          <%= f.check_box :spanish, label: 'Spanish Only' %>
            <%#= f.check_box :spanish, data: { toggle: 'toggle', yes: 'Yes', no: 'No' },label: '' %>
            <!-- </div> -->
          <% end %>
          <%= f.form_group :voicemail_ok do %>
            <!-- <div class='bootstrap_toggle_spacing'> -->
              <%= f.check_box :voicemail_ok, label: 'Voicemail OK?' %>
              <%#= f.check_box :voicemail_ok, data: { toggle: 'toggle', yes: 'Yes', no: 'No' },label: '' %>
            <!-- </div> -->
          <% end %>

          <div class="row">
            <div class="col-sm-8">
              <%= f.text_field :city, label: 'City', autocomplete: 'off' %>
            </div>
            <div class="col-sm-4">
              <%= f.text_field :state, label: 'State', autocomplete: 'off' %>
            </div>
          </div>

          <%= f.text_field :zip, label: 'ZIP', autocomplete: 'off' %>

          <h3>Other Contact</h3>
          <%= f.fields_for pregnancy.patient do |p| %>
            <%= p.text_field :other_contact, autocomplete: 'off', label: 'Other contact name' %>
            <%= p.text_field :other_phone, value: @pregnancy.patient.other_phone_display, autocomplete: 'off', label: 'Other phone' %>
            <%= p.text_field :other_contact_relationship, autocomplete: 'off', label: 'Relationship to other contact' %>
          <% end %>
        </div>

        <div class="info-form-right col-sm-6">
          <%= f.select :employment_status,
                       options_for_select(employment_status_options,
                                          pregnancy.employment_status),
                                          autocomplete: 'off' %>
          <%= f.select :income,
                       options_for_select(income_options,
                                          pregnancy.income),
                                          autocomplete: 'off' %>

          <div class="row">
            <div class="col-sm-6">
              <%= f.select :household_size_adults,
                            options_for_select(household_size_options,
                                               pregnancy.household_size_adults),
                                               label: 'Adults in household', help: '(including patient)' %>
            </div>
            <div class="col-sm-6">
              <%= f.select :household_size_children,
                            options_for_select(household_size_options,
                                               pregnancy.household_size_children),
                                               label: 'Minors in household' %>              
            </div>
          </div>

          <%= f.select :insurance,
                       options_for_select(insurance_options,
                                          pregnancy.insurance),
                                          label: 'Patient insurance' %>
          <%= f.select :referred_by,
                       options_for_select(referred_by_options,
                                          pregnancy.referred_by),
                                          autocomplete: 'off' %>
          <%= f.text_field :special_circumstances, autocomplete: 'Off' %>
        </div>
      </div>
    </div>
  <% end %>
</section>
