<div class="pledge_modal">
	<div class="pledge_modal_header">Create Pledge</div>

	<div class="pledge_form">
		<div class="pledge_confirm_info">Confirm the following information is correct:</div>
		<div><span class="pledge_modal_category">Name:</span> <%= @pregnancy.patient.name %></span></div>
		<div><span class="pledge_modal_category">ID:</span> <%= @pregnancy.patient.primary_phone %></span></div>
		<div><span class="pledge_modal_category">Pledge amount:</span> $100</span></div>
		<div><span class="pledge_modal_category">Appointment Date:</span> <%= @pregnancy.appointment_date %></span></div>
		<div><span class="pledge_modal_category">Clinic Name:</span> <%= @pregnancy.clinic.name %></span></div>
		<div><span class="pledge_modal_category">Clinic Location:</span> <%= @pregnancy.clinic.city %>, <%= @pregnancy.clinic.city %></span></div>
	</div>

</div>