<!-- Patient Info -->
<%= bootstrap_form_for @pregnancy do |f| %>
  <div id="patient_dashboard">
    <%= render partial: 'pregnancies/patient_dashboard', locals: { f: f, pregnancy: @pregnancy } %>
  </div>

  <div id="patient_detail">
    <div id="menu">
      <%= render partial: 'pregnancies/menu', locals: { f: f, pregnancy: @pregnancy } %>  
    </div>
    <div id="sections">
      <%= render partial: 'pregnancies/abortion_information', locals: { f: f, pregnancy: @pregnancy } %>
      <%= render partial: 'pregnancies/patient_information', locals: { f: f, pregnancy: @pregnancy } %>
    </div>
  </div>
<% end %>
