<div class="container">
  <div class="col-md-12">

    <div id="overview">
      <h4>Week of August 24 - 31</h4>
      <div class="progress">
        <div class="progress-bar progress-bar-success" style="width: 35%">
          <span class="sr-only">35% Complete (success)</span>
        </div>
        <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 20%">
          <span class="sr-only">20% Complete (warning)</span>
        </div>
        <div class="progress-bar progress-bar-danger" style="width: 10%">
          <span class="sr-only">10% Complete (danger)</span>
        </div>
      </div>
    </div>


    <div id="call_list_builder">
      <h4>Build your call list <small>today's voicemails below</small></h4>

      <%= form_tag('/search', remote: true, html: {class: 'form-horizontal'}) do %>
        <%= text_field_tag :search, params[:search], class: 'form-control col-sm-9' %>
        <%= submit_tag 'Search', class: 'btn btn-primary', :name => nil %>
      <% end %>
      <div id="search_results"></div>
    </div>


    <div id="call_list">
      <h4>Your Call List</h4>
      <table class="table table-bordered">
        <tr>
          <th>Phone</th>
          <th>Name</th>
          <th>LMP</th> <!-- last menstrual period -->
          <th>Case Notes</th>
          <th></th>
          <th></th>
        </tr>
        <%= render partial: 'table_content', locals: {pregnancies: current_user.pregnancies} %>
      </table>
    </div>

    <div id="urgent_cases">
      <h4>Urgent Cases</h4>
      <table class="table table-bordered">
        <tr>
          <th>Phone</th>
          <th>Name</th>
          <th>LMP</th> <!-- last menstrual period -->
          <th>Case Notes</th>
          <th></th>
          <th></th>
        </tr>
        <%= render partial: 'table_content', locals: {pregnancies: @urgent_cases} %>
      </table>
    </div>
  </div>
</div>

<%#= render 'patients/new_patient' %>
