<tr>
  <td><%= c.patient.primary_phone %></td>
  <td><%= c.patient.name %></td>
  <td><%= "#{(DateTime.now - c.last_menstrual_period_time).to_i/7} weeks" %></td>
  <td>(sample case notes. something or other. detail)</td>
  <td><%= link_to "Call", "#new_call", data: {toggle: "modal"} %><%= link_to "Add", "/users/#{current_user.id}/cases/#{c.id}", method: :patch %></td>
  <%= render partial: 'calls/new_call', locals: {c: c} %>
</tr>
