<div class="container">
  <div class="col-md-12">

    <div id="overview">
      <h4>Week of August 24 - 31</h4>
      <div class="progress">
        <div class="progress-bar progress-bar-success" style="width: 35%">
          <span class="sr-only">35% Complete (success)</span>
        </div>
        <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 20%">
          <span class="sr-only">20% Complete (warning)</span>
        </div>
        <div class="progress-bar progress-bar-danger" style="width: 10%">
          <span class="sr-only">10% Complete (danger)</span>
        </div>
      </div>
    </div>


    <div id="call_list_builder">
      <h4>Build your call list <small>today's voicemails below</small></h4>

      <form action=search id="call_list_builder_form" method="get" class="form-horizontal" role="form">
        <div class="form-group">
          <div class="col-sm-10">
            <input type="text" name="keyword" id="input" class="form-control col-sm-9" value="" required="required" title="" placeholder="First or last name">
          </div>
          <div class="col-sm-2">
            <%= button_tag "", type: 'submit', class: "btn btn-default glyphicon glyphicon-search" %>
          </div>
        </div>
      </form>
      <% if(@results && @results.length>0) then %>
        <div id="search_results">
          <h4>Search Results</h4>
          <table class="table table-bordered">
            <tr>
              <th>Phone</th>
              <th>Name</th>
              <th>LMP</th> <!-- last menstrual period -->
              <th>Case Notes</th>
              <th></th>
              <th></th>
            </tr>
            <%= render partial: 'table_row', locals: {cases: @results} %>
          </table>
        </div>
      <% elsif(@results) %>
        <h4>Your search produced no results, so add a new patient:</h4>
        <%= render 'patients/new_patient' %>
      <% end %>
    </div>


    <div id="call_list">
      <h4>Your Call List</h4>
      <table class="table table-bordered">
        <tr>
          <th>Phone</th>
          <th>Name</th>
          <th>LMP</th> <!-- last menstrual period -->
          <th>Case Notes</th>
          <th></th>
          <th></th>
        </tr>
        <%= render partial: 'table_row', locals: {cases: current_user.cases} %>
      </table>
    </div>

    <div id="urgent_cases">
      <h4>Urgent Cases</h4>
      <table class="table table-bordered">
        <tr>
          <th>Phone</th>
          <th>Name</th>
          <th>LMP</th> <!-- last menstrual period -->
          <th>Case Notes</th>
          <th></th>
          <th></th>
        </tr>
        <%= render partial: 'table_row', locals: {cases: @urgent_cases} %>
      </table>
    </div>
  </div>
</div>

<%#= render 'patients/new_patient' %>
