<div class="modal fade new-call" tabindex="-1" role="dialog" id="call-<%= p.patient.primary_phone %>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close close-terms" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Call <b><%= p.patient.name %></b> now</h4>
        <h4><%= p.patient.primary_phone %></h4>
        <%= button_to "I reached the patient", calls_path(p, call: { status: 'Reached Patient'} ), method: :post, class: 'btn btn-primary' %>
        </br>
        <%= link_to "I left a voicemail for the patient", calls_path(p, call: { status: "Left voicemail" } ), method: :post, remote: true %>
        </br>
        <%= link_to "I couldn't reach the patient", calls_path(p, call: { status: "Couldn't reach patient" } ), method: :post, remote: true %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
