<div class="modal-body">
  <div class="calls-layout">
    <button type="button" class="close close-terms" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title calls-request">
      Call <b><%= patient.name %></b> now:</h4>
      <br>
      <%= display_other_contact_and_phone_if_exists(patient) %>

      <%= content_tag :h4, patient.primary_phone_display, class: 'calls-phone' %>

      <%= display_reached_patient_link patient %>

      <%= display_voicemail_link_with_warning patient %>

      <%= display_couldnt_reach_patient_link patient %>

      <%= display_note_text_for patient.most_recent_note %>
  </div><!-- calls-layout -->
</div><!-- /.modal-body -->
