<div class="modal fade new-call" tabindex="-1" role="dialog" id="call-<%= patient.primary_phone_display %>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="calls-layout">
          <button type="button" class="close close-terms" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title calls-request">Call <b><%= patient.name %></b> now:</h4>
          <br>

          <%= display_other_contact_and_phone_if_exists(patient) %>

          <h4 class="calls-phone"><%= patient.primary_phone_display %></h4>

          <p><%= link_to "I reached the patient", patient_calls_path(patient, call: { status: 'Reached patient'} ), method: :post, class: 'btn btn-primary', id: 'calls-btn' %></p>

          <%= display_voicemail_link_with_warning(patient) %>

          <p><%= link_to "I couldn't reach the patient", patient_calls_path(patient, call: { status: "Couldn't reach patient" } ), method: :post, remote: true, class: 'calls-response' %></p>

          <%= display_note_text_for patient.most_recent_note %>
        </div><!-- calls-layout -->
      </div><!-- /.modal-body -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
