<table class="table border-side user-table">
  <thead>
    <tr class="user-table-header">
      <th><!-- spacer --></th>
      <th><%= t('user.user_table.full_name') %></th>
      <th><%= t('user.common.role') %></th>
      <th><%= t('user.common.last_login') %></th>
      <%= th_autosortable t('user.user_table.date_created'), 'string', local_assigns %>
      <th><%= t('common.status') %></th>
      <th><!-- disable user btn --></th>
    </tr>
  </thead>
  <tbody id='user-results'>
    <% if users.present? %>
      <% users.each do |user| %>
        <tr id='user-<%= user.id %>' class='user-row'>
          <td><!-- spacer --></td>
          <td><%= link_to user.name, edit_user_path(user) %></td>
          <td><%= user.role %>
          <td><%= user.current_sign_in_at %>
          <td><%= user.created_at %>
          <td><%= user_lock_status(user) %>
          <td><%= disabled_toggle_button(user) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
