<table class="table border-side">
  <thead>
    <tr>
      <% if local_assigns[:sortable] %>
        <th><!-- handle --></th>
      <% end %>
      <th><input type="checkbox" id="select-all-users"></th>
      <th>Full Name</th>
      <th>Role</th>
      <th>Last Login</th>
      <%= th_autosortable 'Date Created', 'string', local_assigns %>
      <th>Status</th>
    </tr>
  </thead>
  <tbody id='user-results'>
    <% if users.present? %>
      <% users.each do |user| %>
        <tr>
          <td><input type="checkbox" id="select-<%= user.id %>"></td>
          <td><%= link_to user.name, edit_user_path(user) %></td>
          <td><%= user.role %>
          <td><%= user.last_sign_in_at %>
          <td><%= user.created_at %>
          <td><%= user_lock_status(user) %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
