<table class="table border-side users-table">
  <thead>
    <tr>
      <th><!-- spacer --></th>
      <th>Full Name</th>
      <th>Role</th>
      <th>Last Login</th>
      <%= th_autosortable 'Date Created', 'string', local_assigns %>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody id='user-results'>
    <% if users.present? %>
      <% users.each do |user| %>
        <tr id='user-<%= user.id %>' class='user-row'>
          <td><!-- spacer --></td>
          <td><%= link_to user.name, edit_user_path(user) %></td>
          <td><%= user.role %>
          <td><%= user.last_sign_in_at %>
          <td><%= user.created_at %>
          <td><%= user_lock_status(user) %>
          <td><%= disabled_toggle_button(user) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
