<div class="col-sm-12">
  <div class="row" id='user-topline'>
    <h1><%= @user.name %></h1>
    <h5><%= t('user.common.role') %>: <%= @user.role.to_s %></h5>
    <h5><%= t('common.status') %>: <%= user_lock_status(@user) %></h5>
    <h5><%= t('user.common.last_login') %>: <%= @user.current_sign_in_at&.display_timestamp %></h5>
  </div>

  <% if @user != current_user && current_user.admin? %>
    <div class="row" id='user-panel'>
      <h3><%= t('user.edit.admin_actions') %></h3>

      <h5><%= t('user.edit.lock_an_account') %></h5>
      <div class="authorization-buttons">
        <%= disabled_toggle_button(@user) %>
      </div>
        
      <h5><%= t('user.edit.update_users_role_permissions') %></h5>
      <div class="btn-group" role='group'>
        <%= role_toggle_button @user, 'admin' %>
        <%= role_toggle_button @user, 'data_volunteer' %>
        <%= role_toggle_button @user, 'cm' %>
      </div>
    </div>
  <% end %>

  <div class="row" id='user-details-update'>
    <h3><%= t('user.edit.update_details') %></h3>
    <%= bootstrap_form_for @user, html: { id: 'user-form' } do |f| %>
      <%= f.text_field :name, label: t('common.name'), autocomplete: 'off' %>

      <%= f.text_field :email, label: t('common.email'), autocomplete: 'off' %>

      <%= f.submit t('common.save'), class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
