<div id="patient-edit-panel">
  <h1><%= @user.name %></h1>

  <div id='user-topline'>
    <h5><%= t('user.common.role') %>: <%= @user.role.to_s %></h5>
    <h5><%= t('common.status') %>: <%= user_lock_status(@user) %></h5>
    <h5><%= t('user.common.last_login') %>: <%= @user.current_sign_in_at&.display_timestamp %></h5>
  </div>

  <% if @user != current_user && current_user.admin? %>
    <h3><%= t('user.edit.admin_actions') %></h3>

    <h5><%= t('user.edit.lock_an_account') %></h5>
    <div class="authorization-buttons">
      <%= disabled_toggle_button(@user) %>
    </div>
      
    <h5 class="top-spacer"><%= t('user.edit.update_users_role_permissions') %></h5>
    <div class="btn-group" role='group'>
      <%= role_toggle_button @user, 'admin' %>
      <%= role_toggle_button @user, 'data_volunteer' %>
      <%= role_toggle_button @user, 'cm' %>
    </div>
    <br /><br />
    <% User.role.values.each do |r| %>
      <p><%= t("user.roles.#{r}") %></p>
    <% end %>
  <% end %>

  <div id='user-details-update' class="top-spacer">
    <h3><%= t('user.edit.update_details') %></h3>
    <%= bootstrap_form_with model: @user, local: true do |f| %>
      <%= f.text_field :name, label: t('common.name'), autocomplete: 'off' %>

      <%= f.text_field :email, label: t('common.email'), autocomplete: 'off' %>

      <%= f.submit t('common.save'), class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
