<div class="col-sm-12">
  <div class="row" id='user-topline'>
    <h1><%= @user.name %></h1>
    <h5>Role: <%= @user.role.to_s %></h5>
    <h5>Status: <%= user_lock_status(@user) %></h5>
    <h5>Last login: <%= @user.current_sign_in_at&.display_timestamp %></h5>
  </div>

  <% if @user != current_user && current_user.admin? %>
    <div class="row" id='user-panel'>
      <h3>Admin actions</h3>

      <h5>Lock an account</h5>
      <div class="authorization-buttons">
        <%= disabled_toggle_button(@user) %>
      </div>
        
      <h5>Update this user's role and permissions</h5>
      <div class="btn-group" role='group'>
        <%= role_toggle_button @user, 'admin' %>
        <%= role_toggle_button @user, 'data_volunteer' %>
        <%= role_toggle_button @user, 'cm' %>
      </div>
    </div>
  <% end %>

  <div class="row" id='user-details-update'>
    <h3>Update details</h3>
    <%= bootstrap_form_for @user, html: { id: 'user-form' } do |f| %>
      <%= f.text_field :name, label: 'Name', autocomplete: 'off' %>

      <%= f.text_field :email, label: 'Email', autocomplete: 'off' %>

      <%= f.submit "Save", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
