<div class='authform'>
  <h3><%= t('user.new.create_user') %></h3>
    <%= bootstrap_form_for @user do |f| %>
        <%= f.email_field :email %>
        <%= f.text_field :name %>
        <%= f.select :role, options_for_select(user_role_options) %>
        <%= f.submit t('common.add'), class: 'btn btn-primary' %>
    <% end %>
    <br>
    <%= link_to t('common.back'), :back %>
</div>
