<div class='authform'>
  <h3>Create User</h3>
    <%= bootstrap_form_for @user do |f| %>
        <%= f.email_field :email %>
        <%= f.text_field :name %>
        <%= f.select :role, options_for_select(user_role_options) %>
        <%= f.submit "Add", class: 'btn btn-primary' %>
    <% end %>
    <br>
    <%= link_to "Back", :back %>
</div>
