<table class="table border-side">
  <thead>
    <tr>
      <th>Select</th>
      <th>ID</th>
      <th>Line</th>
      <%= th_autosortable 'Date Created', 'string', local_assigns %>
    </tr>
  </thead>
  <tbody id='archived_patient-results'>
    <% if archived_patients.present? %>
      <% archived_patients.each do |archived_patient| %>
        <tr>
          <td><input type="checkbox" id="select-<%= archived_patient.id %>"></td>
          <td><%= link_to archived_patient.id, archived_patient_path(archived_patient) %></td>
          <td><%= archived_patient.line %>
          <td><%= archived_patient.created_at %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
