<%= form_with(model: archived_patient, local: true) do |form| %>
  <% if archived_patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(archived_patient.errors.count, "error") %> prohibited this archived_patient from being saved:</h2>

      <ul>
      <% archived_patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :had_other_contact %>
    <%= form.check_box :had_other_contact, id: :archived_patient_had_other_contact %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
