<p id="notice"><%= notice %></p>

<p>
  <strong>UUID  :</strong>
  <%= @archived_patient.UUID   %>
</p

<p>
  <strong>age_range :</strong>
  <%= @archived_patient.age_range  %>
</p

<p>
  <strong>had_other_contact:</strong>
  <%= @archived_patient.had_other_contact %>
</p

<p>
  <strong>voicemail_preference:</strong>
  <%= @archived_patient.voicemail_preference %>
</p

<p>
  <strong>line:</strong>
  <%= @archived_patient.line %>
</p

<p>
  <strong>language:</strong>
  <%= @archived_patient.language %>
</p

<p>
  <strong>initial_call_date:</strong>
  <%= @archived_patient.initial_call_date %>
</p

<p>
  <strong>last_menstual_period_weeks:</strong>
  <%= @archived_patient.last_menstual_period_weeks %>
</p

<p>
  <strong>last_menstual_period_days:</strong>
  <%= @archived_patient.last_menstual_period_days %>
</p

<p>
  <strong>created_by_id:</strong>
  <%= @archived_patient.created_by_id %>
</p

<p>
  <strong>final_updated_at:</strong>
  <%= @archived_patient.final_updated_at %>
</p

<p>
  <strong>version:</strong>
  <%= @archived_patient.version %>
</p

<p>
  <strong>appointment_date:</strong>
  <%= @archived_patient.appointment_date %>
</p

<p>
  <strong>race_ethnicity:</strong>
  <%= @archived_patient.race_ethnicity %>
</p

<p>
  <strong>city:</strong>
  <%= @archived_patient.city %>
</p

<p>
  <strong>state:</strong>
  <%= @archived_patient.state %>
</p

<p>
  <strong>county:</strong>
  <%= @archived_patient.county %>
</p

<p>
  <strong>employment_status:</strong>
  <%= @archived_patient.employment_status %>
</p

<p>
  <strong>income:</strong>
  <%= @archived_patient.income %>
</p

<p>
  <strong>insurance:</strong>
  <%= @archived_patient.insurance %>
</p

<p>
  <strong>referred_to_clinic:</strong>
  <%= @archived_patient.referred_to_clinic %>
</p

<p>
  <strong>resolved_without_fund:</strong>
  <%= @archived_patient.resolved_without_fund %>
</p

<p>
  <strong>clinic_id:</strong>
  <%= @archived_patient.clinic_id %>
</p

<p>
  <strong>urgent_flag:</strong>
  <%= @archived_patient.urgent_flag %>
</p

<p>
  <strong>procedure_cost:</strong>
  <%= @archived_patient.procedure_cost %>
</p

<p>
  <strong>patient_contribution:</strong>
  <%= @archived_patient.patient_contribution %>
</p

<p>
  <strong>naf_pledge:</strong>
  <%= @archived_patient.naf_pledge %>
</p

<p>
  <strong>fund_pledge:</strong>
  <%= @archived_patient.fund_pledge %>
</p

<p>
  <strong>pledge_sent:</strong>
  <%= @archived_patient.pledge_sent %>
</p

<p>
  <strong>pledge_generated_at:</strong>
  <%= @archived_patient.pledge_generated_at %>
</p

<p>
  <strong>pledge_generated_by_id:</strong>
  <%= @archived_patient.pledge_generated_by_id %>
</p

<%= link_to 'Back', archived_patients_path %>
