<div id="search_form" class="margin-bottom">
  <%= bootstrap_form_with url: 'accountant/search', remote: true, layout: :inline do |f| %>
    <%= f.hidden_field :locale, value: params[:locale] %>
    <%= f.text_field :search,
                     placeholder: t('accountants.search_placeholder'),
                     hide_label: true,
                     class: 'search_form_input accountant mr-4' %>

    <%= f.select :clinic_id,
                 options_for_select(clinic_options.reject{|x| x.blank?}),
                 prompt: "[All Clinics]",
                 hide_label: true,
                 include_blank: false,
                 class: 'search_form_input accountant' %>

    <%= f.button title: t('common.search'), class: 'btn btn-primary ml-4' do %>
      <i class="fas fa-search"></i>
    <% end %>
  <% end %>

  <div id="search_results_shell"></div>
</div>
