<div id="search_form" class="margin-bottom">
  <%= bootstrap_form_with url: accountants_path,
                          layout: :inline,
                          local: true,
                          method: 'GET' do |f| %>
    <%= f.hidden_field :locale, value: params[:locale] %>
    <%= f.text_field :search,
                     placeholder: t('accountants.search_placeholder'),
                     hide_label: true,
                     value: params[:search],
                     class: 'search_form_input accountant mr-4' %>

    <%= f.select :clinic_id,
                 options_for_select(clinic_options.reject{ |x| x.blank? },
                                    params[:clinic_id]),
                 hide_label: true,
                 include_blank: t('accountants.search_all_clinics'),
                 class: 'search_form_input accountant' %>

    <%= f.button title: t('common.search'), class: 'btn btn-primary ml-4' do %>
      <i class="fas fa-search"></i>
    <% end %>
  <% end %>

  <div id="search_results_shell"></div>
</div>
