<!-- locals: -->

<table class="table border-side">
  <table class="table border-side">
    <thead>
      <tr>
        <th>Clinic Name</th>
        <th>PT initials</th>
        <th>Abortion Care $</th>
        <th>Weeks at Procedure</th>
        <%= th_autosortable 'Pledge Sent Date', 'string', local_assigns %>
        <th>Check #</th>
        <th>Date of Check</th>
      </tr>
    </thead>
    <tbody>
        <% patients.each do |patient| %>
        <%= bootstrap_form_for patient, html: { id: 'patient_information_form' }, remote: true do |f| %>

          <tr>
            <td><%= patient.clinic.name %></td>
            <td><%= link_to patientInitials(patient), edit_patient_path(patient) %></td>
            <td>$<%= patient.fulfillment.procedure_cost %></td>
            <td><%= patient.last_menstrual_period_weeks %> weeks </td>
            <td><%= patient.fulfillment.created_at %></td>
            <%= f.fields_for patient.fulfillment do |pt| %>
              <td><%= pt.text_field :check_number, hide_label: true, autocomplete: 'off'%></td>
              <td><%= pt.date_field :date_of_check, hide_label: true, autocomplete: 'off' %></td>
            <% end %>
          </tr>

          <% end %>
      <% end %>
    </tbody>
  </table>
</div>
