<!-- locals: -->

<table class="table border-side">
  <table class="table border-side">
    <thead>
      <tr>
        <th>Clinic Name</th>
        <th>PT initials</th>
        <th>Abortion Care $</th>
        <th>Weeks at Procedure</th>
        <%= th_autosortable 'Pledge Sent Date', 'string', local_assigns %>
        <th>Check #</th>
        <th>Date of Check</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="patient_information_form">
        <% patients.each do |patient| %>
            <tr>
                <td><%= patient.clinic.name %></td>
                <td><%= link_to initials(patient), edit_patient_path(patient) %></td>
                <td><%= procedure_cost(patient.fulfillment.procedure_cost) %></td>
                <td><%= weeks_at_procedure(patient.gestation_at_procedure) %></td>
                <td><%= patient.fulfillment.created_at %></td>
                <td><%= patient.fulfillment.check_number%></td>
                <td><%= patient.fulfillment.date_of_check %></td>
                <td><%= link_to edit_fulfillment_path(patient), remote: true do %>
                    <i class="glyphicon glyphicon-pencil"></i>
                <% end %>
              </td>
            </tr>
      <% end %>
    </tbody>
  </table>
