<table class="table border-side">
  <table class="table border-side">
    <thead>
      <tr>
        <th>Clinic Name</th>
        <th>PT initials</th>
        <th>Abortion Care $</th>
        <th>Weeks at Procedure</th>
        <th>Pledge Sent Date</th>
        <th>Check #</th>
        <th>Date of Check</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="patient_information_form">
      <% patients.each do |patient| %>
        <tr>
          <td><%= patient.clinic.name %></td>
          <td><%= link_to patient.initials, edit_patient_path(patient) %></td>
          <td><%= number_to_currency patient.fulfillment.procedure_cost, precision: 0 %></td>
          <td><%= patient.fulfillment.gestation_at_procedure_display %></td>
          <td><%= patient.pledge_sent_at&.display_date %></td>
          <td><%= patient.fulfillment.check_number%></td>
          <td><%= patient.fulfillment.date_of_check %></td>
          <td>
            <%= link_to edit_accountant_path(patient), remote: true do %>
              <i class="glyphicon glyphicon-pencil"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
