<td><%= patient.clinic&.name %></td>
<td><%= link_to patient.initials, edit_patient_path(patient) %></td>
<td><%= number_to_currency patient.fulfillment&.fund_payout_amount, precision: 0 %></td>
<td><%= patient.fulfillment&.gestation_at_procedure_display %></td>
<td><%= patient.pledge_sent_at&.display_date %></td>
<td><%= patient.fulfillment&.check_number%></td>
<td><%= patient.fulfillment&.date_of_check %></td>
<td>
  <%= link_to edit_accountant_path(patient), id: "edit-#{patient.id}", remote: true do %>
    <i class="glyphicon glyphicon-pencil"></i>
  <% end %>
</td>
