<div class="container">
  <div class="col-sm-12">
    <div class="row">
      <%= render partial: 'accountants/search_form' %>    
    </div>

    <div class="row">
      <h1 class='border-bottom title'>
        Accountant Dashboard
        <small class='pull-right'>
          <%= page_entries_info @patients, entry_name: 'patient' %>
          <%= paginate @patients %> 
        </small>
      </h1>
    </div>

    <div class="row" id='accounting-list'>
      <%= render partial: 'accountants/table_content', locals: { patients: @patients, autosortable: true } %>
    </div>
  </div>

  <%= render partial: "patients/modal" %>
</div>
