<h1 class="border-bottom title"><%= t 'accountants.search_cases' %></h1>

<%= render partial: 'accountants/search_form' %>    

<h1 class='border-bottom title'>
  <%= t 'accountants.title' %>

  <div id="accountants-pagination" class="float-start">
    <small>
      <span class='pagination-entries'>
        <%= page_entries_info @patients, entry_name: t('common.patient').downcase %>
      </span>

      <%= paginate @patients %>   
    </small>

  </div>
</h1>

<div id="accounting-list">
  <%= render partial: 'accountants/table_content',
             locals: { patients: @patients, autosortable: true } %>
</div>

<%= render partial: "patients/modal" %>
