<div class="container">
  <div class="col-sm-12">
    <%= render partial: 'accountants/search_form' %>
    <%= render partial: "patients/modal" %>

    <div class="col-sm-8">
      <h1>Accountant Billing</h1>
    </div>
    <div class="col-sm-4">
      <%= paginate @patients %>
      <div id="pagination-entries">
        <h4><%= page_entries_info @patients, entry_name: 'patient' %></h4>
      </div>
    </div>

    <div id="user-list" class="margin-bottom">
      <%= render partial: 'accountants/table_content', locals: { patients: @patients, autosortable: true } %>
    </div>


  </div>
</div>
