<h1 class="border-bottom title"><%= t 'accountants.search_cases' %></h1>

<%= render partial: 'accountants/search_form' %>    

<h1 class='border-bottom title'>
  <%= t 'accountants.title' %>

  <div id="accountants-pagination" class="float-right">
    <%= render partial: 'accountants/pagination',
               patients: @patients %>
  </div>
</h1>

<div id="accounting-list">
  <%= render partial: 'accountants/table_content',
             locals: { patients: @patients, autosortable: true } %>
</div>

<%= render partial: "patients/modal" %>
