<section id="abortion_information" class="abortion-info tab-pane">
  <div id="patient_fields" class="col-sm-12">
    <div class="row">
      <div class="col-sm-12">
        <h2>Abortion information</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 info-form">
        <h3> Clinic details </h3>
        <%= bootstrap_form_for patient, html: { id: 'abortion-information-form' }, remote: true do |f| %>
          <div class="col-sm-6">
            <div class="info-form-left">
              <%= f.select :clinic_id, options_for_select(clinic_options, patient.clinic.try(:id)) %>
              <div class="checkbox">
                <%= label_tag 'naf_filter' do %>
                  <%= check_box_tag 'naf_filter' %>
                  Enable only NAF clinics
                <% end %>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="info-form-right">
              <%= f.form_group :resolved_without_fund do %>
                <%= f.check_box :resolved_without_fund, label: "Resolved without assistance from #{FUND}" %>
              <% end %>
              <%= f.form_group :referred_to_clinic do %>
                <%= f.check_box :referred_to_clinic, label: 'Referred to clinic' %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div id="cost_fields" class="col-sm-12">
    <div class="row">
      <div class="col-sm-12">
        <h3>Cost details</h3>
      </div>
    </div>

    <div class="row col-sm-12" >
      <div class="patient_cost_fields">
        <%= bootstrap_form_for patient, html: { id: 'abortion-information-form' }, remote: true do |f| %>
          <div class="col-sm-6">
            <%= f.number_field :procedure_cost, label: 'Abortion cost', autocomplete: 'off', prepend: '$' %>
            <div class="info-form-left form-group outstanding-balance-ctn hidden">
              <label class="control-label">Outstanding Balance</label>
              <div id="outstanding-balance"></div>
            </div>
          </div>

          <div class="col-sm-6">
            <div id="pledge-contributions">
              <%= f.number_field :patient_contribution, label: 'Patient contribution', autocomplete: 'off', prepend: '$' %>
              <%= f.number_field :naf_pledge, label: 'National Abortion Federation pledge', autocomplete: 'off', prepend: '$' %>
              <%= f.number_field :fund_pledge, label: "#{FUND} pledge", autocomplete: 'off', prepend: '$', label_class: 'tooltip-header', data: { 'tooltip-text': dcaf_pledge_limit_help_text() } %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div id="external_pledges" class="col-sm-12">
    <div class="row col-sm-12">
      <div class="col-sm-6">
        <!-- Future right of math -->
      </div>

      <div class="col-sm-6">
        <%= render partial: 'external_pledges/external_pledges_table', locals: { patient: patient, external_pledges: patient.external_pledges.order_by('created_at desc') } %>

        <div id="new-external-pledge">
          <%= render partial: 'external_pledges/new', locals: { patient: patient, new_external_pledge: new_external_pledge } %>
        </div>
      </div>
    </div>
  </div>
</section>
