<section id="abortion_information" class="abortion-info tab-pane">
  <div id="patient_fields" class="col-sm-12">
    <div class="row">
      <div class="col-sm-12">
        <h2>Abortion information</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h3> Clinic details </h3>
        <%= bootstrap_form_for patient, html: { id: 'abortion-information-form' }, remote: true do |f| %>
          <div class="col-sm-6">
            <div class="info-form-left">
              <%= f.select :clinic_name, options_for_select(clinic_options, patient.clinic_name) %>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="info-form-right">
              <%= f.fields_for patient.pregnancy do |pt| %>
                <%= pt.form_group :resolved_without_dcaf, label: { text: 'Resolved without assistance from DCAF' } do %>
                  <%= pt.check_box :resolved_without_dcaf, label: '' %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div id="cost_fields" class="col-sm-12">
    <div class="row">
      <div class="col-sm-12">
        <h3>Cost details</h3>
      </div>
    </div>

    <div class="row col-sm-12" >
      <div class="patient_cost_fields">
        <%= bootstrap_form_for patient, html: { id: 'abortion-information-form' }, remote: true do |f| %>
          <div class="col-sm-6">
            <%= f.fields_for patient.pregnancy do |pt| %>
              <%= pt.text_field :procedure_cost, label: 'Abortion cost', autocomplete: 'off', prepend: '$' %>
            <% end %>
          </div>

          <div class="col-sm-6">
            <div id="pledge-contributions">
              <%= f.fields_for patient.pregnancy do |pt| %>
                <%= pt.text_field :patient_contribution, label: 'Patient contribution', autocomplete: 'off', prepend: '$' %>
                <%= pt.text_field :naf_pledge, label: 'National Abortion Federation pledge', autocomplete: 'off', prepend: '$' %>
                <%= pt.text_field :dcaf_soft_pledge, label: 'DCAF pledge', autocomplete: 'off', prepend: '$' %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div id="external_pledges" class="col-sm-12">
    <div class="row col-sm-12">
      <div class="col-sm-6">
        <!-- Future right of math -->
      </div>
      <div class="col-sm-6">
        <%= render partial: 'external_pledges/external_pledges_table', locals: { patient: patient, external_pledges: patient.external_pledges.order_by('created_at desc') } %>
        
        <%= render partial: 'external_pledges/new', locals: { patient: patient, new_external_pledge: new_external_pledge } %>
      </div>
      </div>
    </div>
  </div>
</section>
