<section id="call_log" class="call-info tab-pane">
  <div class="margin-bottom col-sm-12">
    <h2>
      Call Log
      <small><%= link_to "Record new call <span class='glyphicon glyphicon-earphone' aria-hidden='true'></span><span class='sr-only'>Call</span>".html_safe, "#call-#{patient.primary_phone_display}", data: {toggle: "modal"} %></small>
    </h2>

    <%= render partial: 'calls/new_call', locals: {patient: patient} %>

    <table class="table border-side">
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Result</th>
        <th>CM</th>
      </tr>
      <tbody>
        <% patient.recent_calls.each do |call| %>
          <tr>
            <td><%= call.created_at.display_date %></td>
            <td><%= call.created_at.display_time %></td>
            <td><%= call.status %></td>
            <td><%= call.created_by.name %></td>
          </tr>
        <% end %>
        <% patient.old_calls.each do |call| %>
          <tr class="old-calls hidden">
            <td><%= call.created_at.display_date %></td>
            <td><%= call.created_at.display_time %></td>
            <td><%= call.status %></td>
            <td><%= call.created_by.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <% if patient.old_calls.count > 0 %>
      <div id="toggle-call-log">View all calls</div>
    <% end %>
  </div>
</section>
