<section id="call_log_content" class="call-info tab-pane">
  <div class="margin-bottom col-sm-12">
    <h2>
      Call Log
      <span class="pull-right new-call-entry"><small>
        <%= link_to "Record new call", new_patient_call_path(@patient), class:"call_button call-#{@patient.primary_phone_display}", remote: true %>
      </small></span>
    </h2>

    <table class="table border-side">
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Result</th>
        <th>CM</th>
        <th>Actions</th>
      </tr>
      <tbody>
        <% @patient.recent_calls.each do |call| %>
          <tr>
            <td><%= call.created_at.display_date %></td>
            <td><%= call.created_at.display_time %></td>
            <td><%= call.status %></td>
            <td><%= call.created_by.name %></td>
            <td>
              <% if call.created_by == current_user && call.recent? %>
                <%= button_to 'Remove', patient_call_path(@patient, call), remote: true, method: :delete, data: { confirm: "Are you sure you want to remove this call from the call log?" }, class: "btn btn-danger" %>
              <% end %>
            </td>
          </tr>
        <% end %>
        <% @patient.old_calls.each do |call| %>
          <tr class="old-calls hidden">
            <td><%= call.created_at.display_date %></td>
            <td><%= call.created_at.display_time %></td>
            <td><%= call.status %></td>
            <td><%= call.created_by.name %></td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <% if @patient.old_calls.count > 0 %>
      <div id="toggle-call-log">View all calls</div>
    <% end %>
  </div>
</section>
