<% if revision.changed_fields.present? %>
  <tr>
    <td><%= revision.date_of_change %></td>
    <% revision.shaped_changes.each_pair do |key, value| %>
      <td><%= key %></td>
      <td><%= value[:original] %></td>
      <td><%= value[:modified] %></td>
    <% end %>
    <td><%= revision.changed_by_user %></td>
  </tr>
<% end %>
