<% if revision.changed_fields.present? %>
  <tr>
    <td><%= revision.date_of_change %></td>
    <td><%= safe_join_fields revision.changed_fields %></td>
    <td><%= safe_join_fields revision.changed_from.map(&:change_or_nil) %></td>
    <td><%= safe_join_fields revision.changed_to.map(&:change_or_nil) %></td>
    <td><%= revision.changed_by_user %></td>
  </tr>
<% end %>
