<% if revision.changed_fields.present? %>
  <tr>
    <td><%= revision.date_of_change %></td>
    <td><%= safe_join_fields(revision.changed_fields) %></td>
    <td><%= safe_join_fields(revision.changed_from) %></td>
    <td><%= safe_join_fields(revision.changed_to) %></td>
    <td><%= revision.changed_by_user %></td>
  </tr>
<% end %>
