<div id="change_log_content">
  <h2 class="mt-5"><%= t('patient.change_log.title') %></h2>

  <table class="table border-side" id="change-log-table">
    <thead>
      <tr>
        <th><%= t('patient.change_log.table.modified_date') %></th>
        <th><%= t('patient.change_log.table.change') %></th>
        <th><%= t('patient.change_log.table.case_manager') %></th>
      </tr>
    </thead>

    <tbody>
      <% patient.all_versions(current_user.allowed_data_access?).each do |revision| %>
        <%= render 'patients/change_log_entry', revision: revision %>
      <% end %>
    </tbody>
  </table>
</div>
