<section class="abortion-left-menu">
  <ul class="nav nav-pills nav-stacked" id='menu-list'>
    <%= render 'menu_item', link_for: 'patient_information', active: true %>
    <%= render 'menu_item', link_for: 'abortion_information' %>
    <%= render 'menu_item', link_for: 'notes' %>
    <%= render 'menu_item', link_for: 'change_log' %>
    <%= render 'menu_item', link_for: 'call_log' %>

    <% if current_user.allowed_data_access? && patient.pledge_sent? %>
      <%= render 'menu_item', link_for: 'pledge_fulfillment' %>
    <% end %>
  </ul>
  <div class="row">
    <div class="col-sm-10">
      <% if not patient.pledge_sent %>
        <%= link_to submit_pledge_button, submit_pledge_path(patient), class:'submit-pledge-button', remote: true %>
      <% else %>
        <%= link_to cancel_pledge_button, submit_pledge_path(patient), class:'submit-pledge-button', remote: true %>
      <% end %>
    </div>
  </div>
</section>
