<section id='menu-content'>
  <div class="nav nav-pills flex-column abortion-left-menu" id='menu-list' role='tablist' aria-orientation="vertical">
    <%= render 'menu_item', link_for: 'patient_information', active: true %>
    <%= render 'menu_item', link_for: 'abortion_information', active: false %>
    <%= render 'menu_item', link_for: 'practical_support', active: false unless Config.hide_practical_support? %>
    <%= render 'menu_item', link_for: 'notes', active: false %>
    <%= render 'menu_item', link_for: 'change_log', active: false %>
    <%= render 'menu_item', link_for: 'call_log', active: false %>

    <% if current_user.allowed_data_access? && patient.pledge_sent? %>
      <%= render 'menu_item', link_for: 'pledge_fulfillment', active: false %>
    <% end %>
  </div>
</section>

<div id="menu-pledge-button">
  <%= render 'menu_pledge_button', patient: patient %>
</div>
