<section class="abortion-left-menu">
  <!-- links to hook into forms on right side -->

  <ul class="nav nav-pills nav-stacked">
    <li class='active'><%= link_to 'Patient Information', '#patient_information', data: { toggle: 'tab' } %></li>
    <li><%= link_to 'Abortion Information', '#abortion_information', data: { toggle: 'tab' } %></li>
    <li><%= link_to 'Notes', '#notes', data: { toggle: 'tab' } %></li>
    <li><%= link_to 'Change Log', '#change_log', data: { toggle: 'tab' } %></li>
    <li><%= link_to 'Call Log', '#call_log', data: { toggle: 'tab' } %></li>

  </ul>
  <div class="row">
    <div class="col-sm-10">
      <%#= f.submit 'TEMP: SAVE INFORMATION', class: 'btn btn-primary btn-block' %>

<%= link_to "<span class='btn btn-primary btn-lg submit-btn btn-block' aria-hidden='true' id='submit-pledge-button'>Submit pledge</span>".html_safe, '#pledge-1', data: {toggle: "modal"} %>

    </div>
  </div>
</section>

<!-- Need to add glyphicon-chevron-right before li.active -->
