<h3 class="mt-5 mb-5"><small><%= t('patient.new.title') %></small></h3>

<%= bootstrap_form_with model: patient, local: true do |f| %>
  <div class="row">
    <div class="col">
      <%= f.text_field :primary_phone,
                       label: t('common.phone'),
                       value: phone,
                       required: true,
                       pattern: "[0-9]{10}|[0-9]{3}\.[0-9]{3}\.[0-9]{4}|[0-9]{3}[-][0-9]{3}[-][0-9]{4}" %>
    </div>
    <div class="col-2">
      <%= f.text_field :email,
                       label: t('common.email'),
                       required: false %>
    </div>
    <div class="col-4">
      <%= f.text_field :name,
                       label: t('common.name'),
                       value: name,
                       required: true %>
    </div>

    <div class="col">
      <%= f.select :last_menstrual_period_weeks,
                   options_for_select(weeks_options, patient.last_menstrual_period_weeks),
                   label: t('patient.dashboard.weeks_along'),
                   autocomplete: 'off' %>
    </div>
    <div class="col">
      <%= f.select :last_menstrual_period_days,
                   options_for_select(days_options, patient.last_menstrual_period_days),
                   label: t('common.days_along'),
                   autocomplete: 'off' %>
    </div>

    <div class="col">
      <%= f.select :language,
                   options_for_select(language_options, patient.language),
                   label: t('patient.information.language'),
                   autocomplete: 'off' %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= f.date_field :initial_call_date,
                       label: t('patient.new.initial_call_date'),
                       value: today,
                       required: "required" %>
    </div>

    <div class="col">
      <%= f.select :voicemail_preference,
                   options_for_select(voicemail_options),
                   label: t('patient.information.voicemail_preference') %>
    </div>

    <div class="col">
      <%= f.select :line_id, options_for_select(line_options, current_line.id) %>
    </div>

    <div class="col align-self-end">
      <%= f.form_group 'submit' do %>
        <%= f.primary do %>
          <i class="fas fa-plus-circle" aria-hidden="true"></i> <%= t 'patient.new.add_button' %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
