<h3><small>Your search produced no results, so add a new patient:</small></h3>
<%= bootstrap_form_for @patient do |f| %>
  <div class="col-md-2">
    <%= f.text_field :primary_phone, label: "Phone Number" %>  
  </div>
  <div class="col-md-2">
    <%= f.text_field :name, label: "Name" %>   
  </div>

  <%= f.fields_for @p_case do |c| %>
    <div class="col-md-2">
      <%= c.text_field :last_menstrual_period_lmp_type, label: "LMP" %>    
    </div>

    <div class="col-md-2">
      <%= f.form_group :voicemail_ok, label: { text: 'Voicemail OK?' } do %>
        <%= c.check_box :voicemail_ok, label: 'Yes' %> <!-- TODO add bootstrap toggle --> 
      <% end %>
    </div>
  <% end %>

  <div class="col-md-2">
    <br> 
    <%= button_tag class: 'btn btn-primary' do %>  
       <span class='glyphicon glyphicon-plus-sign'></span> Create new patient
    <% end %>
  </div>
<% end %>
