
<% if @results.empty? %>
  <h3><small>Your search produced no results, so add a new patient:</small></h3>
<%# else %>
  <%# when this is ready to go, you can remix this partial according to instructions from team design %>
  <!-- <h3><small>Add a new patient:</small></h3> -->
<%# end %>


  <%= bootstrap_form_for patient do |f| %>
    <div class="row">
      <div class="col-sm-2">
        <%= f.text_field :primary_phone, label: 'Phone', value: phone, required: true, pattern: "[0-9]{10}|[0-9]{3}\.[0-9]{3}\.[0-9]{4}|[0-9]{3}[-][0-9]{3}[-][0-9]{4}" %>
      </div>
      <div class="col-md-4">
        <%= f.text_field :name, label: 'Name', value: name, required: true %>
      </div>

      <div class="col-sm-2">
        <%= f.select :last_menstrual_period_weeks, options_for_select(weeks_options, patient.last_menstrual_period_weeks ), label: 'LMP (weeks)', autocomplete: 'off' %>
      </div>
      <div class="col-sm-2">
        <%= f.select :last_menstrual_period_days, options_for_select(days_options, patient.last_menstrual_period_days ), label: 'LMP (days)', autocomplete: 'off' %>
      </div>

      <div class="col-sm-2">
        <%= f.select :language, options_for_select(language, patient.language ),
          label: 'Preferred Language', autocomplete: 'off' %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <%= f.date_field :initial_call_date, label: "Initial Call Date", value: today,  required: "required" %>
      </div>

      <div class="col-sm-4">
        <%= f.select :voicemail_preference,
                     options_for_select(voicemail_options) %>
      </div>

      <div class="col-sm-2">
        <%= f.select :line, options_for_select(lines, current_line) %>
      </div>

      <div class="col-sm-2 btn-space">
        <%= button_tag class: 'btn btn-primary', id: 'create_new_patient_button' do %>
           <span class='glyphicon glyphicon-plus-sign'></span> Add new patient
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
