<div id="patient_dashboard_content">
  <%= bootstrap_form_with model: patient,
                         html: { id: 'patient_dashboard_form' },
                         local: false,
                         method: 'patch',
                         class: 'edit_patient' do |f| %>
    <div class="row">

      <div class="col-4">
        <%= f.text_field :name,
                         label: t('patient.shared.name'),
                         autocomplete: 'off' %>
      </div>
      
      <div class="col">
        <%= f.select :last_menstrual_period_weeks,
                     options_for_select(weeks_options, patient.last_menstrual_period_weeks ),
                     label: t('patient.dashboard.weeks_along'),
                     autocomplete: 'off',
                     help: t('patient.dashboard.currently', weeks: patient.last_menstrual_period_now_weeks, days: patient.last_menstrual_period_now_days) %>
      </div>

      <div class="col mt-4">
        <%= f.select :last_menstrual_period_days,
                     options_for_select(days_options, patient.last_menstrual_period_days),
                     autocomplete: 'off',
                     skip_label: true,
                     help: t('patient.dashboard.called_on', date: patient.initial_call_date.strftime("%m/%d/%Y")) %>
        <%= f.label :last_menstrual_period_days, t('common.days_along'), class: "sr-only" %>
      </div>          

      <div class="col-3">
        <%= f.date_field :appointment_date,
                         label: t('patient.shared.appt_date'),
                         autocomplete: 'off',
                         help: t('patient.dashboard.approx_gestation', weeks: patient.last_menstrual_period_at_appt_weeks, days: patient.last_menstrual_period_at_appt_days) %>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <%= f.text_field :primary_phone,
                         value: patient.primary_phone_display,
                         label: t('patient.dashboard.phone'),
                         autocomplete: 'off' %>
      </div>

      <div class="col">
        <%= f.text_field :pronouns,
                         value: patient.pronouns,
                         autocomplete: 'off' %>
      </div>

      <div class="col">
        <div class="form-group">
          <label for="status"><%= t 'patient.shared.status' %> <%= tooltip_shell status_help_text(patient) %></label>
          <input type="text" value="<%= patient.status %>" class="form-control form-control-plaintext" id="patient_status_display" autocomplete="off" disabled>
        </div>
      </div>

      <div class="col-3">
        <% if current_user.admin? %>
          <div class="form-group">
            <label for="admin-delete"><%= t 'patient.dashboard.delete_label' %></label>
            <div>
              <%= link_to t('patient.dashboard.delete'),
                          patient_path(patient),
                          class: 'btn btn-danger',
                          method: :delete,
                          data: { confirm: t('patient.dashboard.confirm_del', name: patient.name) } %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
