<%= bootstrap_form_for patient, html: { id: 'patient_dashboard_form' }, remote: true do |f| %>
  <div class="col-sm-4" >
    <%= f.text_field :name, label: 'First and last name', autocomplete: 'off' %>
    <%= f.text_field :primary_phone, value: patient.primary_phone_display, label: 'Phone number', autocomplete: 'off' %>
  </div>

  <div class="col-sm-4">
    <div class="row">
      <%= f.fields_for patient.pregnancy do |p| %>
        <div class="col-sm-6">
          <%= f.select :last_menstrual_period_weeks, options_for_select(weeks_options, patient.pregnancy.last_menstrual_period_weeks ), label: 'LMP at intake', autocomplete: 'off', help: "Currently: #{pregnancy.last_menstrual_period_display_short}" %>
        </div>
        <div class="col-sm-6 hide-label">
          <%= f.select :last_menstrual_period_days, options_for_select(days_options, patient.pregnancy.last_menstrual_period_days ), label: '.', autocomplete: 'off', help: "Called on: #{patient.initial_call_date}" %>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p><strong>Status:</strong> <%= patient.status %></p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="row">
      <%= f.datetime_picker :appointment_date, label: 'Appointment date', autocomplete: 'off', format: '%Y-%m-%d', placeholder: 'YYYY-MM-DD', help: "Approx gestation at appt: #{pregnancy.last_menstrual_period_at_appt}" %>
    </div>
  </div>
<% end %>
