<section id="patient_information" class="abortion-info tab-pane active">
  <%= bootstrap_form_for patient, html: { id: 'patient_information_form' }, remote: true do |f| %>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <h2>Patient information</h2>
        </div>
      </div>

      <div class="row">
        <div class="info-form-left col-sm-6">
          <% if current_user.admin? %>
            <%= f.select :line,
                       options_for_select(lines,
                                          patient.line),
                                          label: 'Line' %>
          <% end %>
          <%= f.text_field :age, label: 'Age', autocomplete: 'off' %>
          <%= f.select :race_ethnicity,
                       options_for_select(race_ethnicity_options,
                                          patient.race_ethnicity),
                                          label: 'Race / Ethnicity',
                                          autocomplete: 'off' %>
                                          
          <%= f.form_group :language do %>
            <%= f.select :language,
                       options_for_select(language,
                                          patient.language),
                                          label: 'Preferred Language',
                                          autocomplete: 'off' %>
          <% end %>

          <%= f.select :voicemail_preference,
                       options_for_select(voicemail_options,
                                          patient.voicemail_preference) %>

          <div class="row">
            <div class="col-sm-8">
              <%= f.text_field :city, label: 'City', autocomplete: 'off' %>
            </div>
            <div class="col-sm-4">
              <%= f.text_field :state, label: 'State', autocomplete: 'off' %>
            </div>
          </div>

          <%= f.text_field :county, label: 'County', autocomplete: 'off' %>

          <h3>Other Contact</h3>
            <%= f.text_field :other_contact, autocomplete: 'off', label: 'Other contact name' %>
            <%= f.text_field :other_phone, value: patient.other_phone_display, autocomplete: 'off', label: 'Other phone' %>
            <%= f.text_field :other_contact_relationship, autocomplete: 'off', label: 'Relationship to other contact' %>
        </div>

        <div class="info-form-right col-sm-6">
          <%= f.select :employment_status,
                       options_for_select(employment_status_options,
                                          patient.employment_status),
                                          autocomplete: 'off' %>
          <%= f.select :income,
                       options_for_select(income_options,
                                          patient.income),
                                          help: 'Employment, Food Stamps, SS, TANF, etc.',
                                          autocomplete: 'off' %>
          <div class="row">
            <div class="col-sm-6">
              <%= f.select :household_size_adults,
                            options_for_select(household_size_options,
                                               patient.household_size_adults),
                                               label: 'Adults in household',
                                               help: '(including patient)' %>
            </div>
            <div class="col-sm-6">
              <%= f.select :household_size_children,
                            options_for_select(household_size_options,
                                               patient.household_size_children),
                                               label: 'Minors in household' %>
            </div>
          </div>

          <%= f.select :insurance,
                       options_for_select(insurance_options,
                                          patient.insurance),
                                          label: 'Patient insurance' %>
          <%= f.select :referred_by,
                       options_for_select(referred_by_options,
                                          patient.referred_by),
                                          autocomplete: 'off' %>



          <p style="font-weight:bold">Special circumstances</p>
          <%= f.form_group :special_circumstances do %>
            <div class="col-sm-6">
              <%= f.check_box :special_circumstances, { label: 'Fetal diagnosis', name: 'patient[special_circumstances][]',
                              checked: patient.special_circumstances.include?('Fetal diagnosis'), namespace: 'Fetal' }, 'Fetal diagnosis', '' %>
              <%= f.check_box :special_circumstances, { label: 'Homelessness', name: 'patient[special_circumstances][]',
                              checked: patient.special_circumstances.include?('Homelessness'), namespace: 'Home' }, 'Homelessness', '' %>
              <%= f.check_box :special_circumstances, { label: 'Domestic violence', name: 'patient[special_circumstances][]',
                              checked: patient.special_circumstances.include?('Domestic violence'), namespace: 'Domestic' }, 'Domestic violence', '' %>
              <%= f.check_box :special_circumstances, { label: 'Other medical issue', name: 'patient[special_circumstances][]',
                              checked: patient.special_circumstances.include?('Other medical issue'), namespace: 'Other' }, 'Other medical issue', '' %>
            </div>
            <div class="col-sm-6">
            <%= f.check_box :special_circumstances, { label: 'Rape', name: 'patient[special_circumstances][]',
                              checked: patient.special_circumstances.include?('Rape'), namespace: 'Rape' }, 'Rape', '' %>
            <%= f.check_box :special_circumstances, { label: 'Incest', name: 'patient[special_circumstances][]',
                              checked: patient.special_circumstances.include?('Incest'), namespace: 'Incest' }, 'Incest', '' %>
            <%= f.check_box :special_circumstances, { label: 'Prison', name: 'patient[special_circumstances][]',
                              checked: patient.special_circumstances.include?('Prison'), namespace: 'Prison' }, 'Prison', '' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</section>
