<section id="patient_information" class="abortion-info tab-pane active">
  <%= bootstrap_form_for patient, html: { id: 'patient_information_form' }, remote: true do |f| %>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <h2>Patient information</h2>
        </div>
      </div>

      <div class="row">
        <div class="info-form-left col-sm-6">
          <%= f.text_field :age, label: 'Age', autocomplete: 'off' %>
          <%= f.select :race_ethnicity,
                       options_for_select(race_ethnicity_options,
                                          patient.race_ethnicity),
                                          label: 'Race / Ethnicity',
                                          autocomplete: 'off' %>

          <%= f.form_group :spanish do %>
            <%= f.check_box :spanish, label: 'Spanish Only' %>
          <% end %>

          <%= f.select :voicemail_preference,
                       options_for_select(voicemail_options,
                                          patient.voicemail_preference) %>

          <div class="row">
            <div class="col-sm-8">
              <%= f.text_field :city, label: 'City', autocomplete: 'off' %>
            </div>
            <div class="col-sm-4">
              <%= f.text_field :state, label: 'State', autocomplete: 'off' %>
            </div>
          </div>

          <%= f.text_field :zip, label: 'ZIP', autocomplete: 'off' %>

          <h3>Other Contact</h3>
            <%= f.text_field :other_contact, autocomplete: 'off', label: 'Other contact name' %>
            <%= f.text_field :other_phone, value: patient.other_phone_display, autocomplete: 'off', label: 'Other phone' %>
            <%= f.text_field :other_contact_relationship, autocomplete: 'off', label: 'Relationship to other contact' %>
        </div>

        <div class="info-form-right col-sm-6">
          <%= f.select :employment_status,
                       options_for_select(employment_status_options,
                                          patient.employment_status),
                                          autocomplete: 'off' %>
          <%= f.select :income,
                       options_for_select([[income_options[1],'Under $9,999'],
                                           [income_options[2],'$10,000-14,999'],
                                           [income_options[3],'$15,000-19,999'],
                                           [income_options[4],'$20,000-24,999'],
                                           [income_options[5],'$25,000-29,999'],
                                           [income_options[6],'$30,000-34,999'],
                                           [income_options[7],'$35,000-39,999 '],
                                           [income_options[8],'$40,000-44,999'],
                                           [income_options[9],'$45,000-49,999'],
                                           [income_options[10],'$50,000-59,999'],
                                           [income_options[11],'$60,000-74,999'],
                                           [income_options[12],'$75,000 or more/yr'],],patient.income),
                                           autocomplete: 'off' %>
          <div class="row">
            <div class="col-sm-6">
              <%= f.select :household_size_adults,
                            options_for_select(household_size_options,
                                               patient.household_size_adults),
                                               label: 'Adults in household',
                                               help: '(including patient)' %>
            </div>
            <div class="col-sm-6">
              <%= f.select :household_size_children,
                            options_for_select(household_size_options,
                                               patient.household_size_children),
                                               label: 'Minors in household' %>
            </div>
          </div>

          <%= f.select :insurance,
                       options_for_select(insurance_options,
                                          patient.insurance),
                                          label: 'Patient insurance' %>
          <%= f.select :referred_by,
                       options_for_select(referred_by_options,
                                          patient.referred_by),
                                          autocomplete: 'off' %>

          <p style="font-weight:bold">Special circumstances</p>
          <%= f.form_group :special_circumstances do %>
            <div class="col-sm-6">
              <%= f.check_box :special_circumstances, { label: 'Fetal anomaly', name: 'patient[special_circumstances][]',
                              checked: patient.special_circumstances.include?('Fetal anomaly'), namespace: 'Fetal' }, 'Fetal anomaly', '' %>
              <%= f.check_box :special_circumstances, { label: 'Homelessness', name: 'patient[special_circumstances][]',
                              checked: patient.special_circumstances.include?('Homelessness'), namespace: 'Home' }, 'Homelessness', '' %>
              <%= f.check_box :special_circumstances, { label: 'Domestic violence', name: 'patient[special_circumstances][]',
                              checked: patient.special_circumstances.include?('Domestic violence'), namespace: 'Domestic' }, 'Domestic violence', '' %>
            </div>
            <div class="col-sm-6">
            <%= f.check_box :special_circumstances, { label: 'Rape', name: 'patient[special_circumstances][]',
                              checked: patient.special_circumstances.include?('Rape'), namespace: 'Rape' }, 'Rape', '' %>
            <%= f.check_box :special_circumstances, { label: 'Incest', name: 'patient[special_circumstances][]',
                              checked: patient.special_circumstances.include?('Incest'), namespace: 'Incest' }, 'Incest', '' %>
            <%= f.check_box :special_circumstances, { label: 'Prison', name: 'patient[special_circumstances][]',
                              checked: patient.special_circumstances.include?('Prison'), namespace: 'Prison' }, 'Prison', '' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</section>
