<div id="patient_information_content">

  <h2 class="patient-section-title"><%= t 'patient.information.title' %></h2>

  <%= bootstrap_form_with model: patient, html: { id: 'patient_information_form' }, remote: true do |f| %>

    <div class="row">
      <div class="col info-form-left">
        <% if current_user.admin? %>
          <%= f.select :line,
                     options_for_select(lines,
                                        patient.line) %>
        <% end %>

        <%= f.number_field :age, autocomplete: 'off' %>

        <%= f.select :race_ethnicity,
                     options_for_select(race_ethnicity_options,
                                        patient.race_ethnicity),
                     autocomplete: 'off' %>

        REST OF IT
        
      </div>

      <div class="col info-form-right">
        THE WHOLE RIGHT SIDE


      </div>

    </div>
  <% end %>

</div>
