<%= render '/shared/multi_modal', disable_next: disable_continue?(patient), :captured => capture { %>

<% if not patient.pregnancy.pledge_sent %>
  <div class="row hide" data-step="1" data-title="Confirm the following information is correct:">
    <% if patient.pregnancy.pledge_info_present? %>
      <% patient.pregnancy.pledge_info_errors.each do |error| %>
        <div class="form-error col-sm-12">Data required: <%= error %></div>
      <% end %>
    <% end %>
    <div class='col-sm-12'><span class="pledge_modal_category">Patient name:</span> <%= patient.name %></div>
    <div class='col-sm-12'><span class="pledge_modal_category">Patient ID:</span> <%= patient.identifier %></div>
    <div class='col-sm-12'><span class="pledge_modal_category">Pledge amount:</span> $<%= patient.pregnancy.dcaf_soft_pledge %> </div>
    <div class='col-sm-12'><span class="pledge_modal_category">Appointment date:</span> <%= patient.appointment_date %></div>
    <div class='col-sm-12'><span class="pledge_modal_category">Clinic name:</span> <%= patient.clinic.name if patient.clinic %></div>
  </div>

  <div class="row hide" data-step="2" data-title="Review this preview of your pledge: (Not working yet)">
    <%= link_to "Download your pledge here!", download_patient_path(patient), case_manager_name: 'Billy Everyteen' %>
  </div>

  <div class="row hide" data-step="3" data-title="Submit and send your pledge:">
    <p class="col-sm-12">Awesome, you generated a DCAF Pledge! Thanks!</p>
    <p class="col-sm-12">Your pledge should appear in your computer's downloads. Find the document and go to <a href="http://www.onlinefaxes.com" target="_blank">onlinefaxes.com</a> to submit the pledge for your client.</p>
    <p class="col-sm-12">Once you've completed the online fax process, please use the check box below to indicate your pledge has been sent.</p>
    <div class="col-sm-12">
      <%= bootstrap_form_for patient, id: 'pledge-create-modal-form', remote: true do |f| %>
        <%= f.fields_for patient.pregnancy do |p| %>
          <%= p.check_box :pledge_sent, label: 'I sent the pledge' %>
        <% end %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="row hide" data-step="1" data-title="Cancel pledge:">
    <p class="col-sm-12">If you wish to cancel a pledge (such as to change it and resend it), please proceed to the next page.</p>
  </div>

  <div class="row hide" data-step="2" data-title="Cancel pledge:">
    <p class="col-sm-12">To confirm you want to cancel this pledge, please uncheck the check box below.</p>
    <div class="col-sm-12">
      <%= bootstrap_form_for patient, id: 'pledge-create-modal-form', remote: true do |f| %>
        <%= f.fields_for patient.pregnancy do |p| %>
          <%= p.check_box :pledge_sent, label: 'Uncheck this box to rescind the pledge' %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<% } %>
