<section id="pledge_fulfillment" class="abortion-info tab-pane active">
  <%= bootstrap_form_for patient, html: { id: 'pledge_fulfillment_form' }, remote: true do |f| %>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <h2>Pledge Fulfillment</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <%= f.fields_for patient.pregnancy do |pt| %>
            <%= pt.form_group :resolved_without_dcaf do %>
              <%= pt.check_box :resolved_without_dcaf, label: 'Pledge Fulfilled' %>
            <% end %>
          <% end %>
        </div>  
        <div class="info-form-left col-sm-6">
          <%= f.fields_for patient.pregnancy do |pt| %>
            <%= pt.date_field :procedure_date, label: 'Procedure Date', format: '%Y-%m-%d' %>
            <%= pt.select :procedure_cost, 
                options_for_select(weeks_options, patient.pregnancy.last_menstrual_period_weeks ), 
                label: 'Weeks Along at Procedure', 
                autocomplete: 'off' %>
            <%= pt.text_field :procedure_cost, label: 'Abortion Care $', autocomplete: 'off', prepend: '$' %>
          <% end %>
        </div>
        <div class="info-form-right col-sm-6">
          <%= f.fields_for patient.pregnancy do |pt| %>
            <%= pt.text_field :procedure_cost, label: 'Check #', autocomplete: 'off'%>
            <%= pt.date_field :procedure_date, label: 'Date of Check', format: '%Y-%m-%d' %>
          <% end %>
        </div>  
      </div>
    </div>
  <% end %>
</section>
