<section id="abortion_information_content">
  <div id="patient_fields" class="col-sm-12">
    <div class="row">
      <div class="col-sm-12">
        <h2>Practical Support</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 info-form">
        <%= bootstrap_form_for patient, html: { id: 'abortion-information-form-1' }, remote: true do |f| %>
          <div class="col-sm-6">
            <div class="info-form-left">
              
            </div>
          </div>

          <div class="col-sm-6">
            <div class="info-form-right">
              

            </div>
          </div>
        <% end %>
      </div>
    </div>

<div id="existing-practical-supports"> 
      <%= render 'practical_supports/cool', patient: patient %>

 </div>


<h5>Or, record new practical support info: </h5>
<%= bootstrap_form_for [patient, patient.practical_supports.new], html: { id: 'new-practical-support' }, remote: true do |f| %>
	<%= f.select :support_type, practical_support_options %>
	<%= f.select :source, external_pledge_source_options %>
	<%= f.check_box :confirmed %>
	<%= f.submit 'Create new practical support', class: 'btn btn-primary', id: 'create-practical-support' %>
<% end %>


  </div>



</section>
