<!-- DATA ENTRY ONLY. DO NOT USE EXCEPT FOR DATA ENTRY. -->

<h1>PATIENT ENTRY</h1>

<%= bootstrap_form_for @patient, url: data_entry_create_path, html: { class: 'mass_entry_form' } do |f| %>
  <%= f.select :line, options_for_select(lines, current_line) %>

  <%= f.text_field :initial_call_date, format: '%Y-%m-%d', placeholder: 'YYYY-MM-DD' %>

  <%= f.text_field :name, autocomplete: 'off' %>

  <%= f.text_field :primary_phone, autocomplete: 'off' %>

  <%= f.text_field :other_contact, autocomplete: 'off', label: 'Other contact name' %>
  <%= f.text_field :other_phone, autocomplete: 'off', label: 'Other phone' %>
  <%= f.text_field :other_contact_relationship, autocomplete: 'off', label: 'Relationship to other contact' %>

  <div class="row">
    <div class="col-sm-6">
      <%= f.select :last_menstrual_period_weeks, options_for_select(weeks_options), label: 'LMP at intake', autocomplete: 'off' %>
    </div>
    <div class="col-sm-6 hide-label">
      <%= f.select :last_menstrual_period_days, options_for_select(days_options), label: '.', autocomplete: 'off' %>
    </div>
  </div>

  <%= f.text_field :city, autocomplete: 'off' %>
  <%= f.text_field :state, autocomplete: 'off' %>
  <%= f.text_field :county, label: 'County', autocomplete: 'off' %>

  <!-- Notes doesn't work because strong params :( -->
  <%#= f.fields_for @patient.notes.new do |notes| %>
    <%#= notes.text_area :full_text, size: '20x5', placeholder: 'Enter notes here' %>
  <%# end %>
  
  <%= f.text_field :dcaf_soft_pledge %>

  <%= f.text_field :age, autocomplete: 'off' %>
  <%= f.select :race_ethnicity, options_for_select(race_ethnicity_options), label: 'Race / Ethnicity', autocomplete: 'off' %>
  <%= f.select :clinic_id, options_for_select(clinic_options) %>

  <%= f.text_field :appointment_date, label: 'Appointment date', autocomplete: 'off', format: '%Y-%m-%d', placeholder: 'YYYY-MM-DD' %>

  <%= f.select :insurance,
               options_for_select(insurance_options),
                                  label: 'Patient insurance' %>

  <div class="row">
    <div class="col-sm-6">
      <%= f.select :household_size_adults,
                    options_for_select(household_size_options),
                                       label: 'Adults in household',
                                       help: '(including patient)' %>
    </div>
    <div class="col-sm-6">
      <%= f.select :household_size_children,
                    options_for_select(household_size_options),
                                       label: 'Minors in household' %>
    </div>
  </div>

  <%= f.select :employment_status,
               options_for_select(employment_status_options),
                                  autocomplete: 'off' %>
  <%= f.select :income,
               options_for_select(income_options),
                                  autocomplete: 'off' %>

  <%= f.select :referred_by,
               options_for_select(referred_by_options),
                                  autocomplete: 'off' %>

    <%= f.text_field :procedure_cost, label: 'Full cost / abortion cost' %>
    <%= f.text_field :patient_contribution, label: 'Patient contribution', autocomplete: 'off', prepend: '$' %>
    <%= f.text_field :naf_pledge, label: 'National Abortion Federation pledge', autocomplete: 'off', prepend: '$' %>

    <%= f.check_box :pledge_sent, label: 'Pledge sent' %>

  <p style="font-weight:bold">Special circumstances</p>
  <%= f.form_group :special_circumstances do %>
    <div class="col-sm-6">
      <%= f.check_box :special_circumstances, { label: 'Fetal diagnosis', name: 'patient[special_circumstances][]', namespace: 'Fetal' }, 'Fetal diagnosis', '' %>
      <%= f.check_box :special_circumstances, { label: 'Homelessness', name: 'patient[special_circumstances][]', namespace: 'Home' }, 'Homelessness', '' %>
      <%= f.check_box :special_circumstances, { label: 'Domestic violence', name: 'patient[special_circumstances][]', namespace: 'Domestic' }, 'Domestic violence', '' %>
    </div>
    <div class="col-sm-6">
    <%= f.check_box :special_circumstances, { label: 'Rape', name: 'patient[special_circumstances][]', namespace: 'Rape' }, 'Rape', '' %>
    <%= f.check_box :special_circumstances, { label: 'Incest', name: 'patient[special_circumstances][]', namespace: 'Incest' }, 'Incest', '' %>
    <%= f.check_box :special_circumstances, { label: 'Prison', name: 'patient[special_circumstances][]', namespace: 'Prison' }, 'Prison', '' %>
    </div>
  <% end %>

  <%= f.submit class: 'btn-lg btn-primary' %>
<% end %>
