<!-- DATA ENTRY ONLY. DO NOT USE EXCEPT FOR DATA ENTRY. -->

<h1><%= t('patient.data_entry.patient_entry') %></h1>

<%= bootstrap_form_with model: @patient,
                        url: data_entry_create_path,
                        html: { class: 'mass_entry_form' },
                        local: true do |f| %>
  <%= f.select :line_id, options_for_select(Line.all.map { |x| [x.name, x.id] }, current_line.id) %>

  <%= f.date_field :initial_call_date,
                   label: t('patient.new.initial_call_date') %>

  <%= f.text_field :name,
                   label: t('common.name'), autocomplete: 'off' %>

  <%= f.text_field :primary_phone,
                   label: t('common.phone'),
                   autocomplete: 'off' %>

  <%= f.text_field :pronouns,
                   autocomplete: 'off' %>

  <%= f.text_field :other_contact,
                   label: t('patient.information.other_contact.name'),
                   autocomplete: 'off' %>
  <%= f.text_field :other_phone,
                   label: t('patient.information.other_contact.phone'),
                   autocomplete: 'off' %>
  <%= f.text_field :other_contact_relationship,
                   label: t('patient.information.other_contact.relationship'),
                   autocomplete: 'off'%>

  <div class="row">
    <div class="col">
      <%= f.select :last_menstrual_period_weeks,
                   options_for_select(weeks_options),
                   label: t('patient.dashboard.weeks_along'),
                   autocomplete: 'off' %>
    </div>
    <div class="col">
      <%= f.select :last_menstrual_period_days,
                   options_for_select(days_options, @patient.last_menstrual_period_days),
                   autocomplete: 'off',
                   label: t('common.days_along') %>
    </div>
  </div>

  <%= f.text_field :city, autocomplete: 'off' %>
  <%= f.select :state, options_for_select(state_options(nil)), autocomplete: 'off' %>
  <%= f.text_field :county, autocomplete: 'off' %>
  <%= f.number_field :zipcode, autocomplete: 'off' %>
  

   <%= f.select :language, options_for_select(language_options), autocomplete: 'off' %>
   <%= f.select :voicemail_preference, options_for_select(voicemail_options), autocomplete: 'off' %>

  <!-- Notes doesn't work because strong params :( -->
  <%#= f.fields_for @patient.notes.new do |notes| %>
    <%#= notes.text_area :full_text, size: '20x5', placeholder: 'Enter notes here' %>
  <%# end %>


  <div class="row">
    <div class="col">
      <%= f.number_field :fund_pledge,
                         label: t('patient.abortion_information.cost_section.fund_pledge',
                         fund: current_tenant.name),
                         autocomplete: 'off' %>
    </div>
    <div class="col">
      <%= f.date_field :fund_pledged_at,
                       label: t('activerecord.attributes.patient.fund_pledged_at'),
                       autocomplete: 'off' %>
    </div>
  </div>

  <%= f.number_field :age, autocomplete: 'off' %>
  <%= f.select :race_ethnicity,
               options_for_select(race_ethnicity_options),
               autocomplete: 'off' %>
  <%= f.select :clinic_id,
               options_for_select(clinic_options),
               label: t('patient.pledge_fulfillment.confirmation.clinic') %>

  <%= f.date_field :appointment_date,
                   label: t('patient.shared.appt_date'),
                   autocomplete: 'off' %>

  <%= f.select :insurance,
               options_for_select(insurance_options),
               label: t('patient.information.insurance') %>

  <div class="row">
    <div class="col">
      <%= f.select :household_size_adults,
                    options_for_select(household_size_options),
                    help: t('patient.information.household_help') %>
    </div>
    <div class="col">
      <%= f.select :household_size_children,
                    options_for_select(household_size_options) %>
    </div>
  </div>

  <%= f.select :employment_status,
               options_for_select(employment_status_options),
               autocomplete: 'off' %>
  <%= f.select :income,
               options_for_select(income_options),
               autocomplete: 'off' %>

  <%= f.select :referred_by,
               options_for_select(referred_by_options),
               label: t('patient.helper.referred_by.title'),
               autocomplete: 'off' %>

  <%= f.number_field :procedure_cost,
                     label: t('patient.pledge_fulfillment.form.procedure_cost') %>
  <%= f.number_field :patient_contribution,
                     label: t('patient.abortion_information.cost_section.patient_contribution'),
                     autocomplete: 'off',
                     prepend: '$' %>
  <%= f.number_field :naf_pledge,
                     label: t('patient.abortion_information.cost_section.naf_pledge'),
                     autocomplete: 'off',
                     prepend: '$' %>

  <div class="row">
    <div class="col">
      <%= f.check_box :pledge_sent, label: t('patient.status.key.pledge_sent') %>
    </div>
    <div class="col">
      <%= f.date_field :pledge_sent_at,
                       label: t('patient.pledge_fulfillment.confirmation.pledge_sent_at'),
                       autocomplete: 'off' %>
    </div>
  </div>

  <%= f.check_box :referred_to_clinic, label: t('patient.abortion_information.clinic_section.referred_to_clinic') %>
  <%= f.check_box :completed_ultrasound, label: t('patient.abortion_information.clinic_section.ultrasound_completed') %>
  <%= f.check_box :resolved_without_fund, label: t('patient.status.key.resolved', fund: current_tenant.name) %>

  <fieldset class="mt-5">
    <legend class="font-weight-bold" id="special_circumstances_label">
      <%= t 'patient.information.special_circumstances.title' %>    
    </legend>

    <%= f.form_group :special_circumstances do %>
      <div class="row">
        <div class="col">
          <%= f.check_box :special_circumstances, {
                          label: t('patient.information.special_circumstances.fetal_diagnosis'), 
                          name: 'patient[special_circumstances][]',
                          id: 'fetal_patient_special_circumstances' },
                          'Fetal diagnosis', '' %>
          <%= f.check_box :special_circumstances, {
                          label: t('patient.information.special_circumstances.homelessness'),
                          name: 'patient[special_circumstances][]',
                          id: 'home_patient_special_circumstances' },
                          'Homelessness', '' %>
          <%= f.check_box :special_circumstances, {
                          label: t('patient.information.special_circumstances.domestic_violence'),
                          name: 'patient[special_circumstances][]',
                          id: 'domestic_patient_special_circumstances' },
                          'Domestic violence', '' %>
          <%= f.check_box :special_circumstances, {
                          label: t('patient.information.special_circumstances.other_medical_issue'),
                          name: 'patient[special_circumstances][]',
                          id: 'other_patient_special_circumstances' },
                          'Other medical issue', '' %>
        </div>
        <div class="col">
          <%= f.check_box :special_circumstances, {
                          label: t('patient.information.special_circumstances.rape'),
                          name: 'patient[special_circumstances][]',
                          id: 'rape_patient_special_circumstances' },
                          'Rape', '' %>
          <%= f.check_box :special_circumstances, {
                          label: t('patient.information.special_circumstances.incest'),
                          name: 'patient[special_circumstances][]',
                          id: 'incest_patient_special_circumstances' },
                          'Incest', '' %>
          <%= f.check_box :special_circumstances, {
                          label: t('patient.information.special_circumstances.prison'),
                          name: 'patient[special_circumstances][]',
                          id: 'prison_patient_special_circumstances' },
                          'Prison', '' %>
        </div>
      </div>
    <% end %>
  </fieldset>

  <%= f.submit class: 'btn-lg btn-primary' %>
<% end %>
