<!-- Patient Info -->

<%= render partial: "patients/modal" %>


<div id="patient_dashboard" class="row">
  <%= render 'patients/patient_dashboard', patient: @patient %>
</div>

<div id="patient_detail" class="row">
  <div>
    <div id="menu" class="col-sm-3">
      <%= render 'patients/menu', patient: @patient %>
    </div>
  </div>

  <div id="sections" class="col-sm-9 tab-content">
    <%= render 'patients/abortion_information', patient: @patient, new_external_pledge: @external_pledge %>
    <%= render 'patients/patient_information', patient: @patient %>
    <%= render 'patients/change_log', patient: @patient %>
    <%= render 'patients/call_log', patient: @patient %>
    <%= render 'patients/notes', patient: @patient, note: @note %>
    <% if ( current_user.admin? || current_user.data_volunteer? ) && @patient.pledge_sent == true %>
      <%= render 'patients/fulfillment', patient: @patient %>
    <% end %>
  </div>
</div>
