<!-- Patient Info -->

<%= render partial: "patients/modal" %>


<div id="patient_dashboard" class="row">
  <%= render 'patients/patient_dashboard', patient: @patient %>
</div>

<div id="patient_detail" class="row">
  <div>
    <div id="menu" class="col-sm-3">
      <%= render 'patients/menu', patient: @patient %>
    </div>
  </div>

  <div id="sections" class="col-sm-9 tab-content">
    <div id="abortion_information">
      <%= render 'patients/abortion_information', patient: @patient, new_external_pledge: @external_pledge %>      
    </div>

    <div id="patient_information">
      <%= render 'patients/patient_information', patient: @patient %>    
    </div>

    <div id="change_log">
      <%= render 'patients/change_log', patient: @patient %>      
    </div>

    <div id="call_log">
      <%= render 'patients/call_log', patient: @patient %>    
    </div>

    <div id="notes">
      <%= render 'patients/notes', patient: @patient, note: @note %>    
    </div>

    <% if ( current_user.admin? || current_user.data_volunteer? ) && @patient.pledge_sent == true %>
      <div id="fulfillment">
        <%= render 'patients/fulfillment', patient: @patient %>      
      </div>
    <% end %>
  </div>
</div>
