<!-- Patient Info -->

<%= render "pledge", patient: @patient %>

<div id="patient_dashboard" class="row">
  <%= render 'patients/patient_dashboard', patient: @patient %>
</div>

<div id="patient_detail" class="row">
  <div class="col-sm-4">
    <div id="menu" class="col-sm-9">
      <%= render 'patients/menu', patient: @patient %>
    </div>
  </div>

  <div id="sections" class="col-sm-8 tab-content">
    <%= render 'patients/abortion_information', patient: @patient %>
    <%= render 'patients/patient_information', patient: @patient %>
    <%= render 'patients/change_log', patient: @patient %>
    <%= render 'patients/call_log', patient: @patient %>
    <%= render 'patients/notes', patient: @patient, note: @note %>
    <%= render 'patients/pledge_fulfillment', patient: @patient%>
  </div>
</div>
