<div class="progress mb-5" id='budget-progress-bar'>
  <% expenditures.each_pair do |type, patient_hashes| %>
    <% patient_hashes.each do |patient| %>
      <div class="progress-bar <%= progress_bar_color type %> expenditure-block" style='<%= progress_bar_width patient[:fund_pledge], limit %>' role='progressbar'>
        <div data-toggle='popover' data-content='<%= budget_bar_expenditure_content(patient) %>' data-placement='bottom' data-html='true' class='expenditure-item'>
          <%= t "dashboard.budget_bar.#{type}_item",
                amount: number_to_currency(patient[:fund_pledge],
                                           precision: 0,
                                           unit: '$',
                                           format: '%u%n') %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="row" id='budget-report'>
  <% expenditures.each_pair do |type, patient_hashes| %>
    <div class="col-sm-3">
      <%= budget_bar_statistic(t("dashboard.budget_bar.#{type}"),
                               expenditures[type],
                               limit: limit,
                               show_aggregate_statistics: Config.show_aggregate_statistics?) %>
    </div>
  <% end %>

  <% if Config.show_aggregate_statistics? %>
    <div class="col-sm-3">
      <strong>
        <%= budget_bar_statistic(t('dashboard.budget_bar.spent'),
                                 expenditures.values.flatten,
                                 limit: limit) %>
      </strong>
    </div>

    <div class="col-sm-3">
      <strong>
        <%= budget_bar_statistic_builder(name: t('dashboard.budget_bar.remaining'),
                                         amount: budget_bar_remaining(expenditures, limit),
                                         limit: limit) %>
      </strong>
    </div>
  <% end %>
</div>
