<div id="search_form" class="margin-bottom">
  <h1 class="border-bottom title">
    <%= t 'dashboard.search.header' %>
  </h1>

  <%= bootstrap_form_with url: '/search', layout: :inline, local: false do |p| %>
    <%= p.hidden_field :locale, value: params[:locale] %>

    <%= p.text_field :search,
                     placeholder: t('dashboard.search.input_placeholder'),
                     hide_label: true,
                     class: 'search_form_input' %>
    <%= p.button class: 'btn btn-primary ms-5',
                 title: t('common.search'),
                 aria: { label: t('common.search') } do %>
      <i class="fas fa-search"></i>
    <% end %>
  <% end %>

  <div id="search_results_shell"></div>
</div>
