<!-- locals: title, table_type (for div id and tbody div id), pregnancies, sortable, autosortable -->

<div id="<%= table_type %>" class="margin-bottom">
  <h1 class="border-bottom title"><%= title %></h1>
  <table class="table border-side" id="<%= table_type %>_table">
    <thead>
      <tr>
        <% if local_assigns[:sortable] %>
          <th><!-- handle --></th>
        <% end %>
        <th>Phone</th>
        <th>Name</th>
        <th>LMP</th>
        <%= th_autosortable 'Status', 'string', local_assigns %>
        <%= th_autosortable 'Appt date', 'string', local_assigns %>
        <th>Notes</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody id="<%= table_type %>_content">
      <% patients.each do |patient| %>
        <tr class="patient-data" id="<%= patient.id %>">
          <% if local_assigns[:sortable] %>
            <td class="handle"><span class="glyphicon glyphicon-move"></span></td>
          <% end %>
          <td class="pt-spacer"><%= patient.primary_phone_display %></td>
          <td class="pt-spacer"><%= link_to patient.name, edit_patient_path(patient) %></td>
          <td class="pt-spacer"><%= patient.last_menstrual_period_display_short %></td>
          <td><%= patient.status %></td>
          <td><%= patient.appointment_date %></td>
          <td><%= patient.most_recent_note_display_text %></td>
          <td><%= plus_sign_glyphicon(patient.most_recent_note) %></td>
          <% if table_type == 'completed_calls' || table_type == 'urgent_patients' %>
            <td class="blank-td"></td>
          <% else %>
            <% if current_user.patients.include?(patient) %>
              <td><%= link_to remove_from_call_list_glyphicon, remove_patient_path(current_user, patient), method: :patch, data: { confirm: "Are you sure you want to remove #{patient.name} from your call list?" },  remote: true %></td>
            <% else %>
              <td><%= link_to "Add", add_patient_path(current_user, patient), method: :patch, remote: true %></td>
            <% end %>
          <% end %>
          <td><%= link_to call_glyphicon, new_patient_call_path(patient), class:"call_button call-#{patient.primary_phone_display}", remote: true %> </td>

        </tr>
      <% end %>
    </tbody>
  </table>
  <% if table_type == 'call_list' && current_user.patients.count > 0%>
    <%= link_to "Remove all patients from your call list", remove_all_patients_path(current_user), class:"remove-all-patients-link", data: { confirm: "Are you sure you want to remove this call from the call log?" }, method: :patch, remote: true %>
  <% end %>
</div>
