<!-- locals: title, table_type (for div id and tbody div id), pregnancies -->

<div id="<%= table_type %>" class="margin-bottom">
  <h1 class="border-bottom title"><%= title %></h1>
  <table class="table border-side">
    <thead>
      <tr>
        <th>Phone</th>
        <th>Name</th>
        <th>LMP</th>
        <th>Status</th>
        <th>Notes</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <div id="<%= table_type %>_content">
        <% pregnancies.each do |p| %>
          <tr class="pregnancy-data" id="<%= p.patient.id %>">
            <td><%= p.patient.primary_phone %></td>
            <td><%= link_to p.patient.name, edit_pregnancy_path(p) %></td>
            <td><%= p.last_menstrual_period_display_short %></td>
            <td><%= p.status %></td>
            <td>(sample case notes. something or other. detail)</td>

            <% if current_user.pregnancies.include?(p) %>
              <td><%= link_to "Remove", "/users/#{current_user.id}/remove_pregnancy/#{p.id}", method: :patch, remote: true %></td>
            <% else %>
              <td><%= link_to "Add", "/users/#{current_user.id}/add_pregnancy/#{p.id}", method: :patch, remote: true %></td>
            <% end %>

            <td><%= link_to "<span class='glyphicon glyphicon-earphone' aria-hidden='true'></span><span class='sr-only'>Call</span>".html_safe, "#call-#{p.patient.primary_phone}", data: {toggle: "modal"} %></td>

            <%= render partial: 'calls/new_call', locals: {p: p} %>
          </tr>
        <% end %>
      </div>
    </tbody>
  </table>
</div>
