<script>
  $(function () {
    $('[data-toggle="popover"]').popover()
  })
</script>

<div class="container">
  <div class="col-sm-12">
    <%= render partial: 'dashboards/budget_bar', locals: { expenditures: @expenditures } %>
    <%= render partial: 'dashboards/search_form' %>
    <%= render partial: 'dashboards/table_content', locals: { title: 'Your call list', table_type: 'call_list', patients: @call_list, sortable: true, autosortable: true } %>
    <%= render partial: 'dashboards/table_content', locals: { title: 'Your completed calls', table_type: 'completed_calls', patients: @completed_calls, autosortable: true } %>
    <%= render partial: 'dashboards/table_content', locals: { title: 'Urgent cases', table_type: 'urgent_patients', patients: @urgent_patients, autosortable: true } %>

    <%= render partial: 'dashboards/modal' %>
  </div>
</div>
