<div class="report-section">
  <div class="row">
    <h4 class="col-sm-8"><strong>Budget bar, design TK</strong></h4>
  </div>
  <!-- UNCOMMENT WHEN BUDGET BAR IS READY
  <div id="budget_bar">
    <div class="progress"></div>
    <div class="progress-bar progress-bar-striped"</div>
  </div>
   -->
  <h2 class="border-bottom">Week of <%= week_range %></h2>
  <div class="row">
    <div id='chart-weekly_report'></div>
    <% lines.each do |line| %>
      <div class="col-sm-4">
        <h3><%= link_to line, '#', class: 'line-header' %></h3>

        <p>Patients contacted: <strong><%= @weekly_report[line.to_sym][:patients_contacted] %></strong></p>
        <p>New patients contacted: <strong><%= @weekly_report[line.to_sym][:new_patients_contacted] %></strong></p>
        <p>Pledges sent: <strong><%= @weekly_report[line.to_sym][:pledges_sent] %></strong></p>
      </div>
    <% end %>
  </div>
</div>
