<%= javascript_tag do %>
  $(function() {
    var chart = c3.generate({
      transition: {
        duration: 2000
      },
      bindto: '#fulfillment-line',
      data: {
          json: gon['fulfillment_report']['fulfillment_by_line'],
          type: 'bar',
          keys: {
            x: 'name',
            value: ['pledged_count', 'fulfilled_count'],
          }
      },
      bar: {
          width: {
              ratio: 0.5
          }
      },
      axis: {
        x: {
          type: 'category'
        }
      }
    });
  });

  $(function() {
    var chart = c3.generate({
      transition: {
        duration: 2000
      },
      bindto: '#fulfillment-clinic',
      data: {
          json: gon['fulfillment_report']['fulfillment_by_clinic'],
          type: 'bar',
          keys: {
            x: 'name',
            value: ['pledged_count', 'fulfilled_count'],
          }
      },
      bar: {
          width: {
              ratio: 0.5
          }
      },
      axis: {
        x: {
          type: 'category'
        }
      }
    });
  });
<% end %>

<div class="report-section">
  <h2 class="border-bottom">Fulfillment by line</h2>
  <div id='fulfillment-line'></div>
  <div class="row">
    <% lines.each do |line| %>
      <div class="col-sm-4">
        <h3><%= link_to line, '#', class: 'line-header' %></h3>
        <% fulfillment_info = @fulfillment_report[:fulfillment_by_line].select { |entry| entry[:name] == line.to_s }.first %>
        <p>Pledges: <strong><%= fulfillment_info[:pledged_count] %></strong></p>
        <p>Fulfillments: <strong><%= fulfillment_info[:fulfilled_count] %></strong></p>
        <p>Fulfillment rate: <strong><%= fulfillment_info[:fulfillment_rate] %></strong></p>
      </div>
    <% end %>
  </div>
</div>

<div class="report-section">
  <h2 class="border-bottom">Fulfillment by clinic</h2>
  <div id='fulfillment-clinic'></div>
  <div class="row">
    <% clinics = @fulfillment_report[:fulfillment_by_clinic].map { |entry| entry[:name] } %>
    <% clinics.each do |clinic| %>
      <div class="col-sm-4">
        <h3 class='line-header'><%= clinic %></h3>
        <% clinic_info = @fulfillment_report[:fulfillment_by_clinic].select { |entry| entry[:name] == clinic.to_s }.first %>
        <p>Pledges: <strong><%= clinic_info[:pledged_count] %></strong></p>
        <p>Fulfillments: <strong><%= clinic_info[:fulfilled_count] %></strong></p>
        <p>Fulfillment rate: <strong><%= clinic_info[:fulfillment_rate] %></strong></p>
      </div>
    <% end %>
  </div>
</div>
