<%= javascript_tag do %>
  $(function() {
    var monthly_report = <%= monthly_report.to_json.html_safe %>
    var chart = c3.generate({
      transition: {
        duration: 2000
      },
      bindto: '#chart-monthly_report',
      data: {
          json: [
            monthly_report['DC'],
            monthly_report['MD'],
            monthly_report['VA']
          ],
          type: 'bar',
          keys: {
            x: 'name',
            value: ['patients_contacted', 'new_patients_contacted', 'pledges_sent'],
          }
      },
      bar: {
          width: {
              ratio: 0.5
          }
      },
      axis: {
        x: {
          type: 'category'
        }
      }
    });
  });
<% end %>

<div class="report-section">
  <h2 class="border-bottom">Past 30 days</h2>
  <div id='chart-monthly_report'></div>
  <div class="row">
    <% lines.each do |line| %>
      <div class="col-sm-4">
        <h3><%= link_to line, '#', class: 'line-header' %></h3>
        <p>Patients contacted: <strong><%= @monthly_report[line.to_sym][:patients_contacted] %></strong></p>
        <p>New patients contacted: <strong><%= @monthly_report[line.to_sym][:new_patients_contacted] %></strong></p>
        <p>Pledges sent: <strong><%= @monthly_report[line.to_sym][:pledges_sent] %></strong></p>
      </div>
    <% end %>
  </div>
</div>
