

<div class="report-section">
  <% case timeframe
  when 'weekly' %>
  <h2 class="border-bottom">Week of <%= week_range %></h2>
  <% when 'monthly' %>
  <h2 class="border-bottom">Past 30 days</h2>
  <% when 'yearly' %>
  <h2 class="border-bottom">Year to date</h2>
  <% end %>
  <div class="row">
    <div id='chart-<%= timeframe %>_report'>
      <%= column_chart report, discrete:true, nonce: content_security_policy_script_nonce%>
    </div>
    <% lines.each do |line| %>
      <div class="col-sm-4">
        <h3><%= link_to line, '#', class: 'line-header' %></h3>

        <p>Patients contacted: <strong><%= report[line.to_sym][:patients_contacted] %></strong></p>
        <p>New patients contacted: <strong><%= report[line.to_sym][:new_patients_contacted] %></strong></p>
        <p>Pledges sent: <strong><%= report[line.to_sym][:pledges_sent] %></strong></p>
      </div>
    <% end %>
  </div>
</div>
