<hr class="hr_gradient">

<div class="row">
	<div class="col text-center">
		<small>
			<%= t 'navigation.footer.please_send_feedback' %>
			<%= link_to 'DARIA Services',
									'https://www.dariaservices.org/contact-us',
									target: :_blank %>
		</small>
	</div>
</div>

<div class="row mb-6">
	<div id="app_footer" class="col text-center">
	  <a href="http://<%= current_tenant.site_domain %>/"><%= current_tenant.full_name %></a> -- <a href="tel:<%= current_tenant.phone %>"><i class="fas fa-phone-alt fa-sm" aria-hidden="true"></i> <%= current_tenant.phone %></a><br>

	  <%= link_to t('navigation.footer.national_abortion_federation'), 'https://prochoice.org' %> -- <a href="tel:800-772-9100"><i class="fas fa-phone-alt fa-sm" aria-hidden="true"></i> 800-772-9100</a><br>

		<%= fax_service %>
	</div>
</div>

<div class="row">
	<div class="col text-center">
		<%= link_to 'https://dariaservices.org', target: :_blank do %>
			<%= image_tag('daria_services_logo.png', class: 'logo', alt: 'DARIA Services Logo') %>
		<% end %>

		<%= link_to 'https://www.codefordc.org', target: :_blank do %>
			<%= image_tag('c4dc-logo-master.svg', class: 'logo', alt: 'Code for DC Logo') %>
		<% end %>
	</div>
</div>
