<!--   <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
 -->
<ul class="navbar-nav">
  <% if current_user %>
    <%= current_line_display %>
    <%= cm_resources_link %>
    <%= spanish_or_english_link %>
  <% end %>
</ul>

<ul class="navbar-nav">
  <% if !user_signed_in? %>
    <li><%= link_to t('navigation.user_tools.sign_in'), new_user_session_path %></li>
  <% else %>
    <% if current_user.admin? || current_user.data_volunteer? %>
      <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle"><%= t('navigation.admin_tools.label') %><b class="caret"></b></a>
        <ul class="dropdown-menu">
          <% if current_user.admin? %>
            <li><%= link_to t('navigation.admin_tools.user_management'), users_path %></li>
            <li><%= link_to t('navigation.admin_tools.clinic_management'), clinics_path %></li>
            <li><%= link_to t('navigation.admin_tools.config_management'), configs_path %></li>
          <% end %>
          <li><%= link_to t('navigation.admin_tools.accounting'), accountants_path %></li>
          <li><%= link_to t('navigation.admin_tools.reporting'), reports_path %></li>
          <li><%= link_to t('navigation.admin_tools.export'), patients_path(format: :csv) %></li>
        </ul>
      </li>
    <% end %>

    <li class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle"><%= current_user.name %><b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><%= link_to t('navigation.user_tools.profile'), edit_user_registration_path %></li>
        <li><%= link_to t('navigation.user_tools.sign_out'), destroy_user_session_path, method: 'delete' %></li>
      </ul>
    </li>
  <% end %>
</ul>
