<% if session[:line] %>
  <ul class="nav navbar-nav navbar-left">
    <li><%= link_to current_line_display, '#' %></li>
  </ul>
<% end %>

<ul class="nav navbar-nav navbar-right">
  <% if !user_signed_in? %>
    <li><%= link_to 'Sign in', new_user_session_path %></li>
  <% else %>
    <% unless current_page?(authenticated_root_url) %>
      <li><%= link_to 'Dashboard', authenticated_root_path %></li>
    <% end %>
    <% if current_user.admin? %>
      <li> <%= link_to 'Create User', new_user_path %></li>
    <% end %>
    <li><%= link_to current_user.name, edit_user_registration_path %></li>
    <li><%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %></li>
  <% end %>
</ul>
