<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "DARIA" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "DCAF" %>">
    <meta name='ROBOTS' content='NOINDEX, NOFOLLOW'>
    <%= stylesheet_link_tag :application, media: 'all' %>
    <%= favicon_link_tag %>
    <%= javascript_include_tag :application %>
    <%= csrf_meta_tags %>
    <%= Gon::Base.render_data %>
    <%= content_for :render_async %>
  </head>
  <body>
    <% if current_user.present? %>
      <header>
        <%= render 'layouts/navigation' %>
      </header>
    <% end %>
    <main role="main">
      <div class="container">
        <%= render 'layouts/messages' %>

        <br>
        <%= yield %>
      </div>
    </main>
    <% if current_user.present? %>
      <footer>
        <%= render 'layouts/footer' %>
      </footer>
    <% end %>
  </body>
</html>
